<section><!--*ngIf="true && sharedService.isVisible()"-->
  <!-- Main Navigation -->
  <nav class="main-navigation text-center">
    <!-- SEARCH FORM-->
    <form
      [formGroup]="search"
      (ngSubmit)="searchNow()"
      class="search-box search-form"
    >
      <!--form: *ngIf="showSearcher"-->
      <input
        data-toggle="tooltip"
        data-placement="left"
        data-html="true"
        (keyup)="searchTerm$.next($event.target.value); showSearchItems = true;"
        title="Prueba con el título del proyecto"
        type="text"
        class="form-control search-input"
        onFocusout="showSearchItems = false; searchButton = true;"
        placeholder="Search"
        [ngModel]="q"
        (ngModelChange)="searchBoxChange($event)"
        formControlName="currentSearch"
      >
      <button type="submit" *ngIf="searchButton && !q">
        <i class="material-icons search"></i>
      </button>
      <!--SEARCH RESULTS-->
      <ul
        *ngIf="results && showSearchItems && q?.length > 0"
        class="bkg-white search-results"
      >
        <li
          *ngFor="let result of results | slice:0:100 | filter : 'name' : q; let i = index;"
          class="search-items"
          [ngClass]="i === 0 ? 'first-search-item' : ''"
        >
          <span class="row" *ngIf="i <= 3">
            <span class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
              <a
                href="/adventure/{{ result.invcode }}/{{ result.slug }}"
                class="search-items-a"
              >
                <img
                  width="100px"
                  class="adventure-result hidden-md hidden-sm hidden-xs"
                  src="{{ result.image }}"
                  alt="Invow Adventure"
                >  
              </a>
            </span>
            <span class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
              <a
                class="text-gray to-click search-items-a"
                href="/adventure/{{ result.invcode }}/{{ result.slug }}"
              >
                <span class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
                  <h5>{{ result.name }}</h5>
                  <p class="text-gray">
                    {{ result.blurb.split(" ").splice(0, 6).join(" ") + '...' }}
                  </p>
                </span>
                <span class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                  <p class="text-gray" *ngIf="result?.days">
                    <strong>{{ result.days }}</strong> days!
                  </p>
                </span>
              </a>
            </span>
          </span>
          <hr class="hr-results">
        </li>
      </ul>
      <!--/SEARCH RESULTS-->
    </form>
    <!-- /SEARCH FORM-->
  </nav>
  <!-- Toolbar -->
  <div class="toolbar">
    <div class="inner">
      <a href="#"class="mobile-menu-toggle"></a>
      <a
        routerLink="/"
        *ngIf="username"
      >
          <i class="material-icons home"></i>
      </a>
      <a
        routerLink="/create/impulse"
        *ngIf="username"
      >
          <i class="material-icons add"></i> <!--lightbulb_outline-->
      </a>
      <a
        routerLink="/{{ username }}"
        *ngIf="username"
      >
        <img class="img-circle profile-thumb" src="{{ picture }}" alt=" {{ username }}. Invow.com" />
      </a>
      <a
        routerLink="/sign"
        *ngIf="!username"
      >
          <i class="material-icons face"></i>
      </a>
      <a
        routerLink="/faq"
        *ngIf="!username"
      >
        <i class="material-icons help_outline"></i>
      </a>
      <div
        class="cart-btn"
        *ngIf="username"
      >
        <a  routerLink="/cart">
          <i>
            <i class="material-icons shopping_basket"></i><!--business_center-->
            <span
              *ngIf="cartService.length() > 0"
              [ngClass]="cartService.isVisible() ? 'count-red' : 'count'"
            >
              {{ cartService.length() }}
            </span>
          </i>
        </a>
        <!-- Cart Dropdown -->
        <div class="cart-dropdown">
          <div
            *ngFor="let item of cartService.get(); let i = index"
            class="cart-item"
          >
            <a href="{{item.url}}" class="item-thumb">
              <img src="assets/img/icons/{{item.type}}.png" alt="Item">
            </a>
            <div class="item-details">
              <h3 class="item-title">
                <a href="{{item.url}}">
                  {{item.title}} {{(item.quantity > 1)? " X " + item.quantity : ""}}
                </a>
              </h3>
              <h4 class="item-price">
                {{item.currency}} {{item.price * item.quantity | currency}}
              </h4>
            </div>
            <a (click)="cartService.remove(i)">
              <i class="material-icons close"></i>
            </a>
          </div><!-- .cart-item -->
          <div class="cart-subtotal">
            <div class="column">
              <span>Subtotal:</span>
            </div>
            <div class="column">
              <span
                *ngFor="let c of cartService.subtotals()"
                class="amount"
              >
                {{c.code}} {{c.value | currency}}
              </span>
            </div>
          </div>
        </div><!-- .cart-dropdown -->
      </div><!-- .cart-btn -->
    </div><!-- .inner -->
  </div><!-- .toolbar -->
</section>
