.fa {
  vertical-align: middle;
}

i {
    font-size: 18pt;
    cursor: pointer;
}

.red-icon {
  color: rgba(245, 18, 48, 0.7);
}

.blue-icon {
  color: #77cde3;
}

.main-icons {
  padding-top: 12px;
  line-height: 18px !important;
}

.main-img {
  width: 60px;
  margin: 0 auto;
}

.chart-message{
  position:absolute;
  top: 36px;
  left: 24px;
}

.search-form {
  width: 48%;
  float:left;
  margin-left: 24%;
}

.search-input {
  border: 1px solid #ededed;
}

.search-results {
  background-color: white;
  list-style: none;
  padding-left: 0;
}

.first-search-item {
}

.search-items-a {
  text-decoration: none;
}

.adventure-result {
  padding-top: 12px;
  width: 100%;
}

.hr-results {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.search-items {
  text-align: left;
}


.bkg-white {
  background-color: rgb(255,255,255);
  -webkit-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.12);
  -moz-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.12);
  box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.12);
}

.profile-thumb {
  width: 24px;
}