<!-- DESCRIPTION -->

<div class="col-xs-12" *ngIf="isLoading">
  <div class="preloader">
    <img src="assets/img/preloader.gif" class="to-center" alt="">
  </div>
</div>
<div
  class="col-xs-12"
  *ngIf="!showDescriptionInput && !isLoading"
>
  <ng-container *ngIf="currentUser">
    <div
      [innerHTML]="descriptionContent"
      (mouseout)="showDescriptionEditButton = false"
      (mouseover)="showDescriptionEditButton = true"
      (click)="edit('description', descriptionContent)">
      </div>
    </ng-container>
    <ng-container *ngIf="!currentUser">
      <div
        [innerHTML]="descriptionContent">
      </div>
    </ng-container>

    <!-- PIE CHART -->
    <app-pie-chart
      [adventureCharts]="adventureCharts"
      [adventureId]="adventureId"
      [adventureForm]="adventureForm"
      [currentInvcode]="currentInvcode"
      [currentSlug]="currentSlug"
      [currentUser]="currentUser"
    >
    </app-pie-chart>

      <a *ngIf="currentUser">
        <i
          class="material-icons edit adventure-edit-icons"
          *ngIf="showDescriptionEditButton"
        >
        </i>
      </a>
    </div>
    <!-- DESCRIPTION INPUT FIELD -->
    <div
      class="form-group"
      *ngIf="showDescriptionInput && currentUser"
    >
      <form [formGroup]="adventureForm">
        <div class="form-group col-xs-12">
          <!-- EDITOR -->
          <app-ngx-editor
            id="description"
            [config]="editorConfig"
            formControlName="description"
          >
          </app-ngx-editor>
          <!-- /EDITOR -->
        </div>
        <div
          *ngIf="description.invalid && (description.dirty || description.touched)"
          class="alert text-danger"
        >
          <div
            *ngIf="description.errors.required"
            translate
          >
            adventure.description.required
          </div>
          <div
            *ngIf="description.errors.minlength"
            translate
          >
            adventure.description.validation.minlenght
          </div>
          <div
            *ngIf="description.errors.maxlength"
            translate
          >
            adventure.description.validation.maxlenght
          </div>
        </div>
        <div class="col-xs-12">
          <div class="col-xs-6">
            <button
              (click)="cancel('description')"
              class="btn btn-default form-control"
              translate
            >
              adventure.description.cancel.button
            </button>
          </div>
          <div class="col-xs-6">
            <button
              [disabled]="description.errors"
              (click)="save('description')"
              class="btn btn-primary form-control"
              translate
            >
              adventure.description.save.button
            </button>
          </div>
          <div class="col-xs-12">
            <hr>
          </div>
        </div>
      </form>
    </div>
    <!-- /DESCRIPTION INPUT FIELD -->
<!-- /DESCRIPTION -->