
<!-- STEP ONE -->
<div class="col-sm-12">
    <h1>Let’s get started</h1>
    <p>
        Make a great first impression with your project’s title and
        image, and set your funding goal, campaign duration, and project
        category.
    </p>

    <form
        [formGroup]="stepOne"
        encType="multipart/form-data"><!--(ngSubmit)="sendStepOne()"-->
        <!--CURRENT STEP-->
        <!--input type="text"  formControlName="step" style="display:none;" /-->
        <!-- PROJECT TITLE -->
        <div
            class="form-group"
            [ngClass]="title.invalid && (title.dirty || title.touched) ? 'light-red' : 'light-blue'">
            <label for="inputTitle">
                <h3>
                    Project title
                </h3>
            </label>
            <input
                name="title"
                type="text"
                class="form-control form-control-lg"
                placeholder="Enter title"
                id="inputTitle"
                formControlName="title"
                required />
            <div *ngIf="title.invalid && (title.dirty || title.touched)"
                 class="alert text-danger">

              <div *ngIf="title.errors.required">
                Title is required.
              </div>
              <div *ngIf="title.errors.minlength">
                Title must be at least 4 characters long.
              </div>

            </div>
            <div class="form-text text-muted">
                Our search looks through words from your project title
                and blurb, so make them clear and descriptive of what
                you’re making. Your profile name will be searchable,
                too.
                <br />
                These words will help people find your project, so choose
                them wisely! Your name will be searchable too.
            </div>
        </div>

        <div class="row">
            <!-- PROJECT IMAGE -->
            <div class="col-sm-6">
                <div
                    class="form-group"
                    [ngClass]="imgRequired && !imgUploaded ? 'light-red' : 'light-blue'">
                    <label for="projectImage">
                        <h3>
                            Project image
                        </h3>
                    </label>
                    <p class="form-text text-muted" *ngIf="imgState !== uploadingState && !imgUploaded">
                        This is the first thing that people will see when they come across your project. Choose an image that’s crisp and text-free. Here are some tips.
                    </p>
                    <span
                        class="btn btn-file form-control"
                        [ngClass]="imgUploaded ? 'btn-success' : 'btn-info'"
                        *ngIf="imgState != uploadingState">
                        <i class="material-icons cloud_upload" *ngIf="!imgUploaded"></i>
                        {{ imgState }}
                        <i class="material-icons cloud_done" *ngIf="imgUploaded"></i>
                        <label>
                            <input
                                type="file"
                                id="projectImage"
                                name="imgUploader"
                                (change)="onFileImgChange($event)"/>
                            <input
                                type="hidden"
                                name="imgHidden"
                                formControlName="imageInput" />
                        </label>
                    </span>
                    <span class="btn btn-file form-control btn-disabled" *ngIf="imgState === uploadingState">
                        {{ imgState }}
                    </span>
                    <div
                        *ngIf="imgRequired"
                        class="alert text-danger">
                        <div *ngIf="!imgSize || !imgExtension">
                          Please upload an image (jpg, png, bpm).
                          50mb max size.
                        </div>
                    </div>
                    <div class="form-text text-muted" *ngIf="imgState !== uploadingState && !imgUploaded">
                        <p>This is the main image associated with your project. Make it count!</p>
                        <p>At least <strong>1024x576 pixels</strong> • 16:9 aspect ratio
                        JPEG, PNG, GIF, or BMP • 50MB file limit</p>
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <!-- PROJECT VIDEO -->
                <div
                    class="form-group"
                    [ngClass]="videoRequired && !videoUploaded ? 'light-red' : 'light-blue'">
                    <label for="projectVideo">
                        <h3>
                            Project Video
                        </h3>
                    </label>
                    <p class="form-text text-muted" *ngIf="videoState !== uploadingState && !videoUploaded">
                        This is the first thing that people will see when they come across your project. Choose an image that’s crisp and text-free. Here are some tips.
                    </p>
                    <span class="btn btn-file form-control" [ngClass]="videoUploaded ? 'btn-success' : 'btn-info'" *ngIf="videoState != uploadingState">
                        <i class="material-icons cloud_upload" *ngIf="!videoUploaded"></i>
                        {{ videoState }}
                        <i class="material-icons cloud_done" *ngIf="videoUploaded"></i>
                        <!--i class="material-icons cloud_done"></i-->
                        <label>
                            <input
                                type="file"
                                id="projectVideo"
                                name="projectVideo"
                                (change)="onFileVideoChange($event)"/>
                            <input
                                type="hidden"
                                name="videoHidden"
                                formControlName="imageInput" />
                        </label>
                    </span>
                    <span class="btn btn-file form-control btn-disabled" *ngIf="videoState === uploadingState">
                        {{ videoState }}
                    </span>
                    <div
                        *ngIf="videoRequired"
                        class="alert text-danger">
                        <div *ngIf="!videoSize || !videoExtension">
                          Please upload a video (mp4, mkv, mov).
                          5gb max size.
                        </div>
                    </div>
                    <div class="form-text text-muted" *ngIf="videoState !== uploadingState && !videoUploaded">
                        <p>This is the main image associated with your project. Make it count!</p>
                        <p>At least <strong>1024x576 pixels</strong> • 16:9 aspect ratio
                        JPEG, PNG, GIF, or BMP • 50MB file limit</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Project Description  -->
        <div
            class="form-group"
            [ngClass]="description.invalid && (description.dirty || description.touched) ? 'light-red' : 'light-blue'">
            <label for="projectDescription">
                <h3>
                    Short blurb
                </h3>
            </label>
            <textarea
                name="description"
                class="form-control form-control-lg"
                id="projectDescription"
                rows="3"
                formControlName="description"
                required>
            </textarea>
            <div *ngIf="description.invalid && (description.dirty || description.touched)"
                 class="alert text-danger">

              <div *ngIf="description.errors.required">
                Description is required.
              </div>
              <div *ngIf="description.errors.minlength">
                Description must be at least 12 characters long.
              </div>
              <div *ngIf="description.errors.maxlength">
                Description must be at last 16000 characters long.
              </div>
            </div>
            <div class="form-text text-muted">
                Give people a sense of what you’re doing. Skip “Help me”
                 and focus on what you’re making.
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <!-- CATEGORY -->
                <div
                class="form-group"
                [ngClass]="category.invalid && (category.dirty || category.touched) ? 'light-red' : 'light-blue'">
                    <label for="selectCategory">
                        <h3>
                            Category
                        </h3>
                    </label>
                    <div class="col-6">
                        <select
                            class="form-control custom-select"
                            name="category"
                            id="selectCategory"
                            formControlName="category"
                            required>
                            <option value="1">category.name</option>
                        </select>
                        <div *ngIf="category.invalid && (category.dirty || category.touched)"
                             class="alert text-danger">

                          <div *ngIf="category.errors.required">
                            Category is required.
                          </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <!-- PROJECT LOCATION -->
                <div
                    class="form-group"
                    [ngClass]="location.invalid && (location.dirty || location.touched) ? 'light-red' : 'light-blue'">
                    <label for="projectLocation">
                        <h3>
                            Project location
                        </h3>
                    </label>
                    <div class="input-group  input-group-lg">
                        <input
                            type="text"
                            name="location"
                            id="projectLocation"
                            class="form-control"
                            formControlName="location"
                            placeholder="Search for..." />
                            <div *ngIf="location.invalid && (location.dirty || location.touched)"
                                 class="alert text-danger">

                              <div *ngIf="location.errors.required">
                                Location is required.
                              </div>
                              <div *ngIf="location.errors.minlength">
                                Location must be at least 6 characters long.
                              </div>
                              <div *ngIf="location.errors.maxlength">
                                Location must be at last 120 characters long.
                              </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <!-- FUNDING DURATION -->
                <div
                    class="form-group"
                    [ngClass]="days.invalid && (days.dirty || days.touched) ? 'light-red' : 'light-blue'">
                    <label for="projectDays">
                        <h3>
                            Funding duration
                        </h3>
                    </label>
                    <div class="input-group">
                        <input
                            type="text"
                            name="days"
                            class="form-control form-control-lg"
                            id="projectDays"
                            formControlName="days"
                            placeholder="Number of days"
                            required />
                        <div *ngIf="days.invalid && (days.dirty || days.touched)"
                             class="alert text-danger">

                          <div *ngIf="days.errors.required">
                            Duration is required.
                          </div>
                          <div *ngIf="days.errors.pattern">
                            Duration must be numbers.
                          </div>
                          <div *ngIf="days.errors.min">
                            Duration must be major than 0.
                          </div>
                          <div *ngIf="days.errors.max">
                            Duration can be 90 days at last.
                          </div>
                        </div>
                        <span class="input-group-addon" id="basic-addon2">
                            number of days
                        </span>
                    </div>
                    <p class="form-text text-muted">
                        Up to 90 days, but we recommend 30 or
                        fewer.
                    </p>
                </div>
            </div>
            <div class="col-sm-6">
                <!-- PROJECT COLLABORATORS -->
                <div
                    class="form-group"
                    [ngClass]="emailCollaborators.invalid && (emailCollaborators.dirty || emailCollaborators.touched) ? 'light-red' : 'light-blue'">
                    <label for="projectCollaborators">
                        <h3>
                            Project collaborators
                        </h3>
                    </label>
                    <div
                        formArrayName="collaborators"
                        *ngFor="let collaborator of collaborators.controls; let i = index;">
                        <div class="mb-2" [formGroupName]="i">
                            <div class="col-6">
                                <input
                                    type="email"
                                    name="email"
                                    class="form-control form-control-lg"
                                    id="projectCollaborators"
                                    formControlName="email"
                                    aria-describedby="emailHelp"
                                    placeholder="Enter email"
                                    required />
                                <div *ngIf="collaborator.controls.email.invalid && (collaborator.controls.email.dirty || collaborator.controls.email.touched)"
                                     class="alert text-danger">

                                  <div *ngIf="collaborator.controls.email.errors.required">
                                    A collaborator is required.
                                  </div>
                                  <div *ngIf="collaborator.controls.email.errors.email && !collaborator.controls.email.errors.required">
                                    Please type a real email.
                                  </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <button
                            class="btn btn-primary"
                            (click)="addCollaborator()">
                                <i class="fa fa-plus" aria-hidden="true">
                                </i>
                        </button>
                        <button
                            class="btn btn-danger"
                            (click)="deleteCollaborator()">
                                <i class="fa fa-minus" aria-hidden="true">
                                </i>
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </form>
    <nav class="navbar fixed-bottom navbar-light bg-faded" style="background: #fff; border-top: 1px solid #eee">
        <div style="float: right;">
            <a href="edit.html" class="btn btn-link btn-lg float-right">Clean step</a>
            <button
                (click)="sendStepOne()"
                [disabled]="stepOne.invalid"
                class="btn btn-primary btn-lg float-right">
                {{ 'Next step!' }}
            </button>
        </div>
    </nav>
</div>
<!-- /STEP ONE -->
