.method-icons {
    font-size: 4em;
    cursor: pointer;
}

.method-link:hover {
    color: rgba(245, 18, 48, 0.7);
    cursor: pointer;
    //color: rgba(68, 113, 145, 0.68);
    //color: rgba(112, 174, 96, 0.7);
}

#projectFile {
  cursor: pointer;
}

.center-element {
  margin: 0 auto;
}

.center-block {
  display: block;
  margin-right: auto;
  margin-left: auto;
}
