<!--  STEP TWO -->
<div class="container">
  <div class="form-group">
    <h1>Empezá partiendo el capital que querés obtener en partes mas chicas.</h1>
    <p class="text-gray">
      Podés elegir entre
      paquetes, créditos y participaciones.
    </p>
    <hr>
    <p>
        Break the financial goal into smallest loans.
    </p>
  </div>
  <form
      [formGroup]="stepTwo"
      encType="multipart/form-data">
      <!-- Crowdlending -->
      <div
          class="form-group"
          formArrayName="credits"
          *ngFor="let agreement of credits.controls; let i = index; let last = last;"
          [ngClass]="agreement.invalid && (agreement.dirty || agreement.touched) ? 'light-red' : 'light-blue'">
          <div class="row" [formGroupName]="i">
            <div id="crowdlending-{{ i + 1}}">
              <div class="col-xs-12">
                <div class="col-xs-6">
                  <i class="material-icons credit_card method-icons"></i>
                </div>
                <div class="col-xs-6">
                  <i *ngIf="last" (click)="deleteCrowdlendingAgreement()" class="material-icons delete_forever method-icons" style="float:right; color: red;"></i>
                </div>
              </div>
              <div class="col-xs-12">
                <hr>
                <h3>
                    {{ i + 1 }} # {{ agreement.controls.pledgeAmount.value | currency:'EUR':true }}
                </h3>
                <hr>
              </div>
              <!-- PLEDGE AMOUNT -->
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <hr>
                <label for="clPledgeAmount" class="text-center">
                  Amount
                </label>
                <div class="count-input adventure-quantity center-element center-block">
                  <a class="incr-btn" data-action="decrease">–</a>
                  <input
                   class="quantity"
                   id="clPledgeAmount"
                   type="number"
                   formControlName="pledgeAmount"
                   value="1">
                  <a class="incr-btn" data-action="increase">+</a>
                </div>
                <div
                    *ngIf="agreement.controls.pledgeAmount.invalid && (agreement.controls.pledgeAmount.dirty || agreement.controls.pledgeAmount.touched)"
                    class="alert text-danger">

                    <div *ngIf="agreement.controls.pledgeAmount.errors.required">
                        A pledge amount is required.
                    </div>
                    <div *ngIf="agreement.controls.pledgeAmount.errors.min && !agreement.controls.pledgeAmount.errors.required">
                        Start with $1.
                    </div>
                    <div *ngIf="agreement.controls.pledgeAmount.errors.max && !agreement.controls.pledgeAmount.errors.required">
                        $ 10.000.000 it's the top.
                    </div>
                    <div *ngIf="agreement.controls.pledgeAmount.errors.pattern">
                        You can type only numbers.
                    </div>
                </div>
              </div>

              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                  <!-- RETURN -->
                  <div class="form-group">
                      <label for="example-url-input" class="col-3 col-form-label">
                          <h5>
                              Return ( % )
                          </h5>
                      </label>
                      <div class="col-9">
                          <input
                              class="form-control"
                              name="return"
                              type="number"
                              formControlName="return"
                              value=""
                              id="example-url-input" />
                          <div
                              *ngIf="agreement.controls.return.invalid && (agreement.controls.return.dirty || agreement.controls.return.touched)"
                              class="alert text-danger">

                              <div *ngIf="agreement.controls.return.errors.required">
                                  Return is required.
                              </div>
                              <div *ngIf="agreement.controls.return.errors.min && !agreement.controls.return.errors.required">
                                  Start with 1%.
                              </div>
                              <div *ngIf="agreement.controls.return.errors.max && !agreement.controls.return.errors.required">
                                  Type 100% at last.
                              </div>
                              <div *ngIf="agreement.controls.return.errors.pattern">
                                  You can type only numbers.
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                  <!-- Payments -->
                  <div class="form-group">
                      <label for="example-url-input" class="col-3 col-form-label">
                          <h5>
                              Payments
                          </h5>
                      </label>
                      <div class="col-9">
                          <input
                              class="form-control"
                              type="number"
                              name="payments"
                              formControlName="payments"
                              id="example-url-input" />
                          <div
                              *ngIf="agreement.controls.payments.invalid && (agreement.controls.payments.dirty || agreement.controls.payments.touched)" class="alert text-danger">
                              <div *ngIf="agreement.controls.payments.errors.required">
                                  Payment's quantity is required.
                              </div>
                              <div *ngIf="agreement.controls.payments.errors.min && !agreement.controls.payments.errors.required">
                                  At least 1 payment.
                              </div>
                              <div *ngIf="agreement.controls.payments.errors.pattern">
                                  You can type only numbers.
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                  <!-- First payment -->
                  <div class="form-group">
                      <label for="example-url-input" class="col-3 col-form-label">
                          <h5>
                              First payment
                          </h5>
                      </label>
                      <div class="col-9">
                          <input
                              class="form-control"
                              placeholder="Days"
                              name="firstPayment"
                              type="number"
                              formControlName="firstPayment"
                              id="example-url-input" />
                          <div
                              *ngIf="agreement.controls.firstPayment.invalid && (agreement.controls.firstPayment.dirty || agreement.controls.firstPayment.touched)" class="alert text-danger">

                              <div *ngIf="agreement.controls.firstPayment.errors.required">
                                  First payment is required
                              </div>
                              <div *ngIf="agreement.controls.firstPayment.errors.min && !agreement.controls.firstPayment.errors.required">
                                  Please write a correct date. Example: 04/10/2020
                              </div>
                              <div *ngIf="agreement.controls.firstPayment.errors.max && !agreement.controls.firstPayment.errors.required">
                                  Please write a correct date. Example: 04/10/2020
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-xs-12">
                  <hr>
                  <div class="col-xs-6 text-left">
                      <h5>Total Financial Cost:</h5>
                  </div>
                  <div class="col-xs-6 text-right">
                      <h5> {{ agreement.controls.return.value * agreement.controls.pledgeAmount.value / 100 | currency:'EUR':true }} </h5>
                  </div>
              </div>
              <div class="col-xs-12">
                  <hr>
                  <div class="col-xs-6 text-left">
                      <h5>Total:</h5>
                  </div>
                  <div class="col-xs-6 text-right">
                      <h5> {{ (agreement.controls.return.value * agreement.controls.pledgeAmount.value / 100 ) + +agreement.controls.pledgeAmount.value  | currency:'EUR':true}}</h5>
                  </div>
              </div>
              <div class="col-xs-12">
                  <hr>
                  <div class="col-xs-6 text-left">
                      <h5>Your payment p/month:</h5>
                  </div>
                  <div class="col-xs-6 text-right" *ngIf="!agreement.controls.pledgeAmount.invalid">
                      <h3> {{ ((agreement.controls.return.value * agreement.controls.pledgeAmount.value / 100 ) + +agreement.controls.pledgeAmount.value) / +agreement.controls.payments.value | currency:'EUR':true}}</h3>
                  </div>
              </div>
              <div class="col-xs-12">
                  <hr>
                  <div class="col-xs-6 text-left">
                      <h5>First payment:</h5>
                  </div>
                  <div class="col-xs-6 text-right">
                      <h5> {{ agreement.controls.firstPayment }} days after receive this credit's part.</h5>
                  </div>
              </div>
              <div class="col-xs-12">
                <hr>
                <label for="clQuantity" class="text-center">
                  Quantity:
                </label>
                <div class="count-input adventure-quantity center-element center-block">
                  <a class="incr-btn" data-action="decrease">–</a>
                  <input
                   class="quantity"
                   id="clQuantity"
                   type="number"
                   formControlName="quantity"
                   value="1">
                  <a class="incr-btn" data-action="increase">+</a>
                </div>
              </div>
          </div>
          </div>
      </div>
      <!-- /Crowdlending -->

      <!-- Crowdfunding -->
      <div
          class="form-group"
          formArrayName="rewards"
          *ngFor="let agreement of rewards.controls; let i = index;let last = last;"
          [ngClass]="agreement.invalid && (agreement.dirty || agreement.touched) ? 'light-red' : 'light-blue'">
          <div class="row" [formGroupName]="i" id="crowdfunding-{{ i + 1 }}">
            <div class="col-md-12">
              <i class="material-icons card_giftcard method-icons"></i>
              <i *ngIf="last" (click)="deleteCrowdfundingAgreement()" class="material-icons delete_forever method-icons" style="float:right; color: red;"></i>
              <hr>
            </div>
            <div class="col-md-12">
                <h3>
                    Reward # {{ i + 1 }}
                </h3>
                <hr>
            </div>
              <div>
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <!-- TITLE -->
                      <div class="form-group">
                          <label for="example-text-input" class="col-3 col-form-label">
                              <h5>Title</h5>
                          </label>
                          <div class="col-9">
                              <input
                                  class="form-control"
                                  name="title"
                                  type="text"
                                  placeholder="Title"
                                  formControlName="title"
                                  id="example-text-input" />
                              <div
                                  *ngIf="agreement.controls.title.invalid && (agreement.controls.title.dirty || agreement.controls.title.touched)"
                                  class="alert text-danger">

                                  <div *ngIf="agreement.hasError('required', 'title')">
                                      A title is required.
                                  </div>
                                  <div *ngIf="agreement.hasError('minlength', 'title') && !agreement.hasError('required', 'title')">
                                      Start with 12 characters at least.
                                  </div>
                                  <div *ngIf="agreement.hasError('maxlength', 'title') && !agreement.hasError('required', 'title')">
                                      Type 120 characters at last.
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                      <!-- PLEDGE AMOUNT -->
                      <div class="form-group">
                          <label for="example-search-input" class="col-3 col-form-label">
                              <h5>Pledge amount</h5>
                          </label>
                          <div class="col-9">
                              <input
                                  class="form-control"
                                  type="number"
                                  name="pledgeAmount"
                                  formControlName="pledgeAmount"
                                  id="example-search-input" />
                              <div
                                  *ngIf="!agreement.controls.pledgeAmount.invalid">
                                   {{ agreement.controls.pledgeAmount.value |currency:'EUR':true}}
                              </div>
                              <div
                                  *ngIf="agreement.controls.pledgeAmount.invalid && (agreement.controls.pledgeAmount.dirty || agreement.controls.pledgeAmount.touched)"
                                  class="alert text-danger">

                                  <div *ngIf="agreement.controls.pledgeAmount.errors.required">
                                      A pledge amount is required.
                                  </div>
                                  <div *ngIf="agreement.controls.pledgeAmount.errors.min && !agreement.controls.pledgeAmount.errors.required">
                                      Start with $1.
                                  </div>
                                  <div *ngIf="agreement.controls.pledgeAmount.errors.max && !agreement.controls.pledgeAmount.errors.required">
                                      $ 10.000.000 it's the top.
                                  </div>
                                  <div *ngIf="agreement.controls.pledgeAmount.errors.pattern">
                                      You can type only numbers.
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <!-- COMISSION -->
                  <div class="col-sm-6">
                      <div class="form-group">
                          <label for="example-text-input" class="col-3 col-form-label">
                              <h3 translate>
                                  create.payments.identification
                              </h3>
                          </label>
                          <div class="form-group">
                            <select class="form-control">
                              <option value="1">Free: 0% comission.</option>
                              <option value="1">With Agent: 6% comission.</option>
                              <option value="1">With Gurú: 9% comission.</option>
                            </select>
                          </div>
                      </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                      <!-- Shipping time -->
                      <div class="form-group">
                          <label for="example-url-input" class="col-3 col-form-label">
                              <h5>
                                  Shipping time
                              </h5>
                          </label>
                          <div class="col-9">
                              <input
                                  class="form-control"
                                  placeholder="DD/MM/YYYY"
                                  type="number"
                                  name="shippingTime"
                                  formControlName="shippingTime"
                                  id="example-url-input" />
                              <div
                                  *ngIf="agreement.controls.shippingTime.invalid && (agreement.controls.shippingTime.dirty || agreement.controls.shippingTime.touched)" class="alert text-danger">

                                  <div *ngIf="agreement.controls.shippingTime.errors.required">
                                      Shipping time is required.
                                  </div>
                                  <div *ngIf="agreement.controls.shippingTime.errors.minlength && !agreement.controls.shippingTime.errors.required">
                                      Please write a correct format. Example: 04/10/2020
                                  </div>
                                  <div *ngIf="agreement.controls.shippingTime.errors.maxlength && !agreement.controls.shippingTime.errors.required">
                                      Please write a correct format. Example: 04/10/2020
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <!-- DESCRIPTION -->
                      <div class="form-group">
                          <label for="example-email-input" class="col-3 col-form-label">
                              <h5>Description</h5>
                          </label>
                          <div class="col-9">
                              <textarea
                                  class="form-control"
                                  name="description"
                                  formControlName="description"
                                  rows="6"
                                  type="text"
                                  id="example-email-input">
                              </textarea>
                              <div
                                  *ngIf="agreement.controls.description.invalid && (agreement.controls.description.dirty || agreement.controls.description.touched)" class="alert text-danger">
                                  <div *ngIf="agreement.controls.description.errors.required">
                                      A description is required.
                                  </div>
                                  <div *ngIf="agreement.controls.description.errors.minlength && !agreement.controls.description.errors.required">
                                      You need to write 120 characters at least. Be creative!
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <hr>
                    <label for="clQuantity" class="text-center">
                      Quantity:
                    </label>
                    <div class="count-input adventure-quantity center-element center-block">
                      <a class="incr-btn" data-action="decrease">–</a>
                      <input
                       class="quantity"
                       id="clQuantity"
                       type="number"
                       formControlName="quantity"
                       value="1">
                      <a class="incr-btn" data-action="increase">+</a>
                    </div>
                  </div>
              </div>
          </div>
      </div>
  <!-- /Crowdfunding -->

  <!-- Equity crowdfunding -->
  <div
      class="form-group"
      formArrayName="participations"
      *ngFor="let agreement of participations.controls; let i = index; let last = last;"
      [ngClass]="agreement.invalid && (agreement.dirty || agreement.touched) ? 'light-red' : 'light-blue'">
      <div class="row" [formGroupName]="i">
        <div class="col-md-12">
          <i class="material-icons timeline method-icons"></i>
          <i *ngIf="last" (click)="deleteEquityAgreement()" class="material-icons delete_forever method-icons" style="float:right; color: red;"></i>
          <hr>
        </div>
        <div class="col-md-12">
          <h3>
              Round # {{ i + 1 }}
          </h3>
          <hr>
        </div>
          <div>
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <!-- TITLE -->
                  <div class="form-group">
                      <label for="example-text-input" class="col-3 col-form-label">
                          <h5>Title</h5>
                      </label>
                      <div class="col-9">
                          <input
                              class="form-control"
                              name="title"
                              type="text"
                              placeholder="Title"
                              formControlName="title"
                              id="example-text-input" />
                          <div
                              *ngIf="agreement.controls.title.invalid && (agreement.controls.title.dirty || agreement.controls.title.touched)"
                              class="alert text-danger">

                              <div *ngIf="agreement.hasError('required', 'title')">
                                  A title is required.
                              </div>
                              <div *ngIf="agreement.hasError('minlength', 'title') && !agreement.hasError('required', 'title')">
                                  Start with 12 characters at least.
                              </div>
                              <div *ngIf="agreement.hasError('maxlength', 'title') && !agreement.hasError('required', 'title')">
                                  Type 120 characters at last.
                              </div>
                          </div>
                      </div>
                  </div>
              </div>

              <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                  <!-- Percentage -->
                  <div class="form-group">
                      <label for="example-url-input" class="col-3 col-form-label">
                          <h5>
                              Capital percentage
                          </h5>
                      </label>
                      <div class="col-9">
                          <input
                              class="form-control"
                              type="number"
                              name="percentage"
                              formControlName="percentage"
                              value=""
                              id="example-url-input" />
                          <div
                              *ngIf="agreement.controls.percentage.invalid && (agreement.controls.percentage.dirty || agreement.controls.percentage.touched)"
                              class="alert text-danger">

                              <div *ngIf="agreement.controls.percentage.errors.required">
                                  Percentage is required.
                              </div>
                              <div *ngIf="agreement.controls.percentage.errors.min && !agreement.controls.percentage.errors.required">
                                  Start with 1%.
                              </div>
                              <div *ngIf="agreement.controls.percentage.errors.max && !agreement.controls.percentage.errors.required">
                                  Type 100% at last.
                              </div>
                              <div *ngIf="agreement.controls.percentage.errors.pattern">
                                  You can type only numbers.
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                  <!-- Participations -->
                  <div class="form-group">
                      <label for="example-url-input" class="col-3 col-form-label">
                          <h5>Actions</h5>
                      </label>
                      <div class="col-9">
                          <input
                              class="form-control"
                              type="number"
                              name="days"
                              formControlName="participations"
                              value=""
                              id="example-url-input" />
                          <div
                              *ngIf="agreement.controls.participations.invalid && (agreement.controls.participations.dirty || agreement.controls.participations.touched)" class="alert text-danger">

                              <div *ngIf="agreement.controls.participations.errors.required">
                                  Investment days are required.
                              </div>
                              <div *ngIf="agreement.controls.participations.errors.min && !agreement.controls.participations.errors.required">
                                  Start with 1 day.
                              </div>
                              <div *ngIf="agreement.controls.participations.errors.max && !agreement.controls.participations.errors.required">
                                  1095 days it's the top.
                              </div>
                              <div *ngIf="agreement.controls.days.errors.pattern">
                                  You can type only numbers.
                              </div>
                          </div>
                      </div>
                  </div>
              </div>

              <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                  <!-- Price -->
                  <div class="form-group">
                      <label for="example-search-input" class="col-3 col-form-label">
                          <h5>Price per action</h5>
                      </label>
                      <div class="col-9">
                          <input
                              class="form-control"
                              type="number"
                              name="price"
                              formControlName="price"
                              id="example-search-input" />
                          <div
                              *ngIf="agreement.controls.price.invalid && (agreement.controls.price.dirty || agreement.controls.price.touched)"
                              class="alert text-danger">

                              <div *ngIf="agreement.controls.price.errors.required">
                                  A price amount is required.
                              </div>
                              <div *ngIf="agreement.controls.price.errors.min && !agreement.controls.price.errors.required">
                                  Start with $1.
                              </div>
                              <div *ngIf="agreement.controls.price.errors.max && !agreement.controls.price.errors.required">
                                  $ 10.000.000 it's the top.
                              </div>
                              <div *ngIf="agreement.controls.price.errors.pattern">
                                  You can type only numbers.
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-xs-12">
                  <!-- DESCRIPTION -->
                  <div class="form-group">
                      <label for="example-email-input" class="col-3 col-form-label">
                          <h5>Description</h5>
                      </label>
                      <div class="col-9">
                          <textarea
                              class="form-control"
                              name="description"
                              formControlName="description"
                              rows="6"
                              type="text"
                              id="example-email-input">
                          </textarea>
                          <div
                              *ngIf="agreement.controls.description.invalid && (agreement.controls.description.dirty || agreement.controls.description.touched)" class="alert text-danger">

                              <div *ngIf="agreement.controls.description.errors.required">
                                  A description is required.
                              </div>
                              <div *ngIf="agreement.controls.description.errors.minlength && !agreement.controls.description.errors.required">
                                  You need to write 120 characters at least. Be creative!
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <!-- First return -->
                  <div class="form-group">
                      <label for="example-text-input" class="col-3 col-form-label">
                          <h5>First return (optional):</h5>
                      </label>
                      <div class="col-9">
                          <input
                              class="form-control"
                              type="number"
                              name="firstReturn"
                              placeholder="Days"
                              formControlName="firstReturn"
                              id="example-text-input" />
                              <div
                                  *ngIf="agreement.controls.firstReturn.invalid && (agreement.controls.firstReturn.dirty || agreement.controls.firstReturn.touched)"
                                  class="alert text-danger">
                                  <div *ngIf="agreement.controls.firstReturn.errors.min && !agreement.controls.firstReturn.errors.required">
                                      Start with 1 day.
                                  </div>
                                  <div *ngIf="agreement.controls.firstReturn.errors.pattern">
                                      You can type only numbers.
                                  </div>
                              </div>
                      </div>
                  </div>
              </div>
              <!-- Equity FILE -->
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <label for="projectFile" class="text-center">
                          <hr>
                          <span
                              class="btn btn-file form-control"
                              [ngClass]="fileUploaded ? 'btn-success' : 'btn-info'"
                              *ngIf="fileState != uploadingState">
                              <i class="material-icons cloud_upload" *ngIf="!fileUploaded"></i>
                              {{ fileState }}
                              <i class="material-icons cloud_done" *ngIf="fileUploaded"></i>
                              <label>
                                  <input
                                      type="file"
                                      id="projectFile"
                                      name="fileUploader"
                                      (change)="onFileChange($event, i)"/>
                                  <input
                                      type="hidden"
                                      name="fileHidden"
                                      formControlName="fileInput" />
                              </label>
                          </span>
                          <span class="btn btn-file form-control btn-disabled" *ngIf="fileState === uploadingState">
                              {{ fileState }}
                          </span>
                      </label>
                      <div
                          *ngIf="fileUploaded"
                          class="alert text-danger">
                          <div *ngIf="!fileSize || !fileExtension">
                            50mb max size.
                          </div>
                      </div>
                      <div class="form-text text-muted" *ngIf="fileState !== uploadingState && !fileUploaded">
                          <p>In order to show to your possible investors that you have a clear plan.
                          Attach all the documents that you think the investor will need to know
                          better your ideas.</p>
                          <p>Planification's spreadsheet, Business Plan, all the things that you believe necesary
                          <strong>50MB file limit</strong></p>
                      </div>
              </div>
              <div class="col-xs-12">
                  <hr>
                  <div class="col-xs-6">
                      <p>Percentage p/participation:</p>
                  </div>
                  <div
                      *ngIf="!agreement.controls.price.invalid"
                      class="col-xs-6 text-right">
                       <h5>{{ agreement.controls.price.value * 50 / (agreement.controls.price.value * agreement.controls.participations.value) }}%</h5>
                  </div>
              </div>
              <div class="col-xs-12">
                  <hr>
                  <div class="col-xs-6">
                      <h5>Total:</h5>
                  </div>
                  <div
                      *ngIf="!agreement.controls.price.invalid"
                      class="col-xs-6 text-right">
                       <h3>{{ agreement.controls.price.value * agreement.controls.participations.value |currency:'EUR':true}}</h3>
                  </div>
              </div>
              <div class="col-xs-12">
                <hr>
                <label for="clQuantity" class="text-center">
                  Quantity:
                </label>
                <div class="count-input adventure-quantity center-element center-block">
                  <a class="incr-btn" data-action="decrease">–</a>
                  <input
                   class="quantity"
                   id="clQuantity"
                   type="number"
                   formControlName="quantity"
                   value="1">
                  <a class="incr-btn" data-action="increase">+</a>
                </div>
              </div>
          </div>
      </div>
  </div>
  <!-- /Equity crowdfunding -->

    <div class="form-group">
      <!-- ADD CREDIT -->
      <div class="col-xs-4">
        <a (click)="addCrowdlendingAgreement()" class="category-link method-link">
          <!--img src="assets/img/categories/cat04.jpg" alt="Category"-->
           <span class="row">
               <i class="material-icons credit_card method-icons"></i>
           </span>
          <span class="row text-center">
              <strong>+</strong>Crédito
          </span>
        </a><!-- .category-link -->
      </div><!-- .col-sm-4 -->
      <!-- ADD REWARD -->
      <div class="col-xs-4">
        <a (click)="addCrowdfundingAgreement()" class="category-link method-link">
          <!--img src="assets/img/categories/cat04.jpg" alt="Category"-->
           <span class="row">
               <i class="material-icons card_giftcard method-icons"></i>
           </span>
          <span class="row text-center">
              <strong>+</strong>Recompensa
          </span>
        </a><!-- .category-link -->
      </div><!-- .col-sm-4 -->
      <!-- ADD PARTICIPATION -->
      <div class="col-xs-4">
        <a (click)="addEquityAgreement()" class="category-link method-link">
          <!--img src="assets/img/categories/cat04.jpg" alt="Category"-->
           <span class="row">
               <i class="material-icons timeline method-icons"></i>
           </span>
          <span class="row text-center">
              <strong>+</strong>Participacion
          </span>
        </a><!-- .category-link -->
      </div><!-- .col-sm-4 -->
    </div>
  </form>

  <nav
      class="fixed-bottom navbar-light bg-faded"
      style="background: #fff; border-top: 1px solid #eee">
      <div style="float: right;">
          <button (click)="stepTwo.reset()" class="btn btn-link btn-lg float-right">
              Clean step
          </button>
          <button
              (click)="sendStepTwo()"
              [disabled]="stepTwo.invalid"
              class="btn btn-primary btn-lg float-right">
              {{ 'Finish!' }}
          </button>
      </div>
  </nav>
</div>
<!-- /STEP TWO -->
