<!-- NEW FUNDING GOAL -->
<form
[formGroup]="goalForm"
*ngIf="false && adventureCapital >= adventureGoal && username && currentUser"
>
<div class="col-sm-12">
  <hr>
  <h5 translate>adventure.addnewfundinggoal</h5>
  <input
    type="number"
    class="form-control"
    placeholder="$"
    formControlName="goal"
  >
  <button class="btn btn-primary form-control" translate>
    adventure.savegoal.button
  </button>
  <hr>
</div>
</form>
<!-- /NEW FUNDING GOAL -->
<!-- PROGRESS BAR -->
<div
class="col-sm-12"
*ngIf="adventureCapital < adventureGoal"
>
<div class="progress">
  <div
    class="progress-bar"
    role="progressbar"
    [ngStyle]="{'width': styleExpression }"
    aria-valuenow="currentPercentage"
    aria-valuemin="0"
    aria-valuemax="100"
  >
  </div>
</div>
<div class="col-sm-12">
  <div class="row">
    <span
      class="mb-1 text-gray"
      *ngIf="!sharedService.isLoading"
    >
      <strong>
        {{ adventureCapital | currency }}
      </strong>
    </span>
    <span
      class="mb-1 to-right text-gray"
      *ngIf="!sharedService.isLoading && adventureGoal"
    >
      {{ adventureGoal | currency }}
    </span>
  </div>
  <div class="row">
    <span
      class="text-sm text-gray"
      *ngIf="!sharedService.isLoading"
    >
      <span class="text-sm text-gray">{{ 'adventure.backed.first' | translate }}</span>
      <strong>{{ adventureBackers }}</strong> 
      <span class="text-sm text-gray">{{'adventure.backed.second' | translate }}</span>
    </span>
  </div>
  <div class="row">
    <hr>
    <p class="text-sm text-gray">
      Quedan <strong>{{ adventureDays }}</strong> dias.
    </p>
  </div>
</div>
</div>
<!-- /PROGRESS BAR -->

<!-- PROGRESS BAR FUNDED -->
<div
class="col-sm-12"
*ngIf="adventureCapital >= adventureGoal"
>
<div class="progress">
  <div
    class="progress-bar progress-bar-funded"
    role="progressbar"
    [ngStyle]="{'width': '100%' }"
    aria-valuenow="100"
    aria-valuemin="0"
    aria-valuemax="100">
  </div>
</div>
<div class="col-sm-12">
  <div class="row">
    <span class="mb-1 to-left text-gray">
      <strong>
        {{ adventureCapital | currency }}
      </strong>
    </span>
    <span
      class="mb-1 strike to-right text-gray"
      *ngIf="!sharedService.isLoading && adventureGoal"
    >
      {{ adventureGoal | currency }}
    </span>
  </div>
  <div class="row">
    <span
      class="text-sm text-gray"
      *ngIf="!sharedService.isLoading"
    >
      <span class="text-sm text-gray">{{ 'adventure.backed.first' | translate }}</span>
      <strong>{{ adventureBackers }}</strong> 
      <span class="text-sm text-gray">{{'adventure.backed.second' | translate }}</span>
    </span>
  </div>
  <div class="row">
    <hr>
    <p class="text-sm text-gray">
      Quedan <strong>{{ adventureDays }}</strong> dias.
    </p>
  </div>
</div>
<div class="col-sm-12">
  <hr>
</div>
</div>
<!-- /PROGRESS BAR FUNDED-->