<div class="col-sm-12">
    <ul class="breadcrumb">
        <li *ngFor="let state of states; let i = index;">
            <a
                [ngClass]="state.name  === initial || (i === 1 && initial === 'payments') ? 'selected-0' : 'selected-1'">
                {{ state.title | translate }}
            </a>
        </li>

        <!--li>
            <a
                (click)="next(2)"
                [ngClass]="step === 2 ? 'selected-0' : 'selected-1'">
                Agreements
            </a>
        </li>
        <li>
            <a
                routerLink="/create/payments"
                [ngClass]="step === 3 ? 'selected-0' : 'selected-1'">
                Payments
            </a>
        </li-->
    </ul>
</div>
