<!-- Filters Bar -->
<section class="container-fluid padding-top" *ngIf="true">
  <div class="column">
    <form
        *ngIf="true"
        class="search-box">
      <input
          data-toggle="tooltip"
          data-placement="left"
          data-html="true"
          title="<em>Tooltip</em> <u>with</u> <b>HTML</b>"
          type="text"
          class="form-control"
          placeholder="Ej: invertir, crear, trabajar">
      <button type="submit">
        <i class="material-icons lightbulb_outline"></i>
      </button>
    </form>
    <a class="filters-toggle" data-toggle="filters">
      <i class="material-icons filter_list"></i>
      Filters
    </a>
  </div>
<hr>
  <div class="row filters">
    <div class="col-xs-12 filters-pane" id="filters">
      <div class="row">
        <div class="col-md-3">

          <!-- Sorting Widget -->
          <div class="widget widget-sorting">
            <h3 class="widget-title">Sort By</h3>
            <ul>
              <li class="active"><a href="#">
                <i class="material-icons sort"></i>
                Default
              </a></li>
              <li><a href="#">
                <i class="material-icons favorite_border"></i>
                Popularity
              </a></li>
              <li><a href="#">
                <i class="material-icons vertical_align_top"></i>
                Last entries
              </a></li>
              <li><a href="#">
                <i class="material-icons star_border"></i>
                Avarage rating
              </a></li>
              <li><a href="#">
                <i class="material-icons sort_by_alpha"></i>
                Alphabetically
              </a></li>
            </ul>
          </div><!-- .widget.widget-sorting -->
        </div>
        <div class="col-md-2">

          <div class="widget widget-color">
            <h3 class="widget-title">Color Filter</h3>
            <ul>
              <li><a href="#">
                <span class="color" style="background-color: #93c4ef;"></span>
                Blue
              </a></li>
              <li><a href="#">
                <span class="color" style="background-color: #a7c04d;"></span>
                Green
              </a></li>
              <li><a href="#">
                <span class="color" style="background-color: #ef0568;"></span>
                Red
              </a></li>
              <li><a href="#">
                <span class="color" style="background-color: #ffce2b;"></span>
                Yellow
              </a></li>
            </ul>
          </div><!-- .widget.widget-color -->
        </div>
        <div class="col-md-3">

          <!-- Price Range Widget -->
          <!-- Please note: Only one Range Slider allowed on the page! -->
          <div class="widget widget-catesgories">
            <h3 class="widget-title">Price Range</h3>
            <form method="post" class="price-range-slider" data-start-min="250" data-start-max="650" data-min="0" data-max="1000" data-step="1">
              <div class="ui-range-slider"></div>
              <footer class="ui-range-slider-footer">
                <div class="column">
                  <button type="submit" class="btn btn-ghost btn-sm btn-default">Filter</button>
                </div>
                <div class="column">
                  <div class="ui-range-values">
                    <div class="ui-range-value-min">
                      $<span></span>
                      <input type="hidden">
                    </div> -
                    <div class="ui-range-value-max">
                      $<span></span>
                      <input type="hidden">
                    </div>
                  </div>
                </div>
              </footer>
            </form><!-- .price-range-slider -->
          </div><!-- .widget.widget-categories -->
        </div>
        <div class="col-md-3 col-md-offset-1">

          <!-- Tags Widget -->
          <div class="widget widget-tags">
            <h3 class="widget-title">Popular Tags</h3>
            <a href="#">Interior</a>
            <a href="#">Electro</a>
            <a href="#">Bags</a>
            <a href="#">Cuttlery</a>
            <a href="#">Downloadable</a>
            <a href="#">Digital goods</a>
            <a href="#">HiFi</a>
          </div><!-- .widget.widget-price -->
        </div>
      </div><!-- .row -->
    </div><!-- .col-xs-12.filters-pane#filters -->
  </div><!-- .row.filters -->
</section><!-- .container -->

<!-- Shop Catalog -->
<section class="container-fluid padding-bottom-3x">
  <div class="row">

    <!-- Item -->
    <div
        class="col-lg-3 col-md-4 col-sm-6"
        *ngFor="let adventure of adventuresByTitle">
      <div class="shop-item">
        <div class="shop-thumbnail">
          <span class="item-rating text-warning" *ngIf="adventure.stars > 0">
            <i class="material-icons star"></i>
            <i class="material-icons star"></i>
            <i class="material-icons star"></i>
            <i class="material-icons star_half"></i>
            <i class="material-icons star_border"></i>
          </span>
          <span
              class="shop-label text-danger"
              *ngIf="adventure.funded">
              Funded!
          </span>
          <a href="shop-single.html" class="item-link"></a>
          <img
              src="assets/img/shop/{{adventure.img}}"
              alt="Shop item" />
          <div class="shop-item-tools">
            <a
                href="#"
                class="add-to-whishlist"
                data-toggle="tooltip"
                data-placement="top"
                title="Wishlist">
              <i
                  class="material-icons favorite_border"
                  *ngIf="!adventure.wishList">
              </i>
              <i
                  class="material-icons favorite"
                  *ngIf="adventure.wishList">
              </i>
            </a>
            <a href="#" class="add-to-cart">
              <em>Add to Cart</em>
              <svg x="0px" y="0px" width="32px" height="32px" viewBox="0 0 32 32">
                <path stroke-dasharray="19.79 19.79" stroke-dashoffset="19.79" fill="none" stroke="#FFFFFF" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" d="M9,17l3.9,3.9c0.1,0.1,0.2,0.1,0.3,0L23,11"/>
              </svg>
            </a>
          </div>
        </div>
        <div class="shop-item-details">
          <h3 class="shop-item-title"><a href="shop-single.html">
              {{ adventure.title }}
          </a></h3>
          <span class="shop-item-price">
            <span class="old-price">{{ adventure.oldPrice }}</span>
            {{ adventure.price }}
          </span>
        </div>
      </div><!-- .shop-item -->
    </div><!-- .col-md-4.col-sm-6 -->
  </div><!-- .row -->
  <hr>

  <!-- Pagination -->
  <div class="pagination padding-bottom">
    <div class="page-numbers">
      <a href="#">1</a>
      <a href="#">2</a>
      <span class="active">3</span>
      <a href="#">4</a>
      <span>...</span>
      <a href="#">10</a>
    </div>
    <div class="pager">
      <a href="#">Prev</a>
      <span>|</span>
      <a href="#">Next</a>
    </div>
  </div><!-- .pagination -->
</section><!-- .container -->
