<!-- BLURB -->
<p
    class="text-sm text-gray"
    *ngIf="currentUser && !showBlurbInput && !sharedService.isLoading && adventureBlurb"
    (mouseout)="showBlurbEditButton = false"
    (mouseover)="showBlurbEditButton = true"
    (click)="edit('blurb', adventureBlurb)"
>
    {{ adventureBlurb }}
    <a>
        <i
            class="material-icons edit adventure-edit-icons"
            *ngIf="showBlurbEditButton"
        >
        </i>
    </a>
</p>
<p
    class="text-sm text-gray blurb-textarea"
    *ngIf="!currentUser && !sharedService.isLoading && adventureBlurb"
    (click)="edit('blurb', adventureBlurb)"
>
    {{ adventureBlurb }}
</p>
<!-- /BLURB -->
<!-- BLURB INPUT FIELD -->
<div
    class="form-group"
    *ngIf="showBlurbInput && currentUser"
>
    <form [formGroup]="adventureForm">
        <div class="form-group col-xs-12">
            <textarea
                id="blurb"
                type="text"
                rows="3"
                class="form-control blurb-textarea"
                formControlName="blurb"
            >
            </textarea>
        </div>        
        <div
            *ngIf="blurb.invalid && (blurb.dirty || blurb.touched)"
            class="alert text-danger"
        >
            <div *ngIf="blurb.errors.required" translate>
                adventure.shortblurb.required
            </div>
            <div *ngIf="blurb.errors.minlength" translate>
                adventure.shortblurb.validation.minlenght
            </div>
            <div *ngIf="blurb.errors.maxlength" translate>
                adventure.shortblurb.validation.maxlenght
            </div>
        </div>
        <div class="col-xs-12">
            <div class="col-xs-6">
                <button
                    (click)="cancel('blurb')"
                    class="btn btn-default form-control" translate
                >
                    adventure.shortblurb.cancel.button
                </button>
            </div>
            <div class="col-xs-6">
                <button
                    [disabled]="adventureForm.invalid"
                    (click)="save()"
                    class="btn btn-primary form-control" translate
                >
                    adventure.shortblurb.save.button
                </button>
            </div>
            <div class="col-xs-12">
                <hr>
            </div>
        </div>
    </form>
</div>
<!-- /BLURB INPUT FIELD -->