
<!-- STEP ONE -->
<div class="preloader" *ngIf="isLoading">
  <img src="assets/img/preloader.gif" class="to-center" alt="">
</div>
<div class="col-sm-12" *ngIf="!isLoading">
    <h1 translate>create.impulse.title</h1>
    <p translate>
        create.impulse.quotes
    </p>
    <form
        [formGroup]="stepOne"
        encType="multipart/form-data"><!--(ngSubmit)="sendStepOne()"-->
        <!--CURRENT STEP-->
        <input type="number"  formControlName="step" style="display:none;" />
        <input type="text"  formControlName="adventureType" style="display:none;" />
        <!-- PROJECT TITLE -->
        <div
            class="form-group col-lg-6 col-xs-12"
            [ngClass]="title.invalid && (title.dirty || title.touched) ? 'light-red' : 'light-blue'">
            <label for="inputTitle">
                <h3 translate>
                    create.impulse.projecttitle.title
                </h3>
            </label>
            <input
                name="projectTitle"
                type="text"
                class="form-control form-control-lg"
                placeholder="Enter title"
                id="inputTitle"
                formControlName="title"
                required />
            <div *ngIf="title.invalid && (title.dirty || title.touched)"
                 class="alert text-danger">
              <div *ngIf="title.errors.required" translate>
                create.impulse.validation.required
              </div>
              <div *ngIf="title.errors.minlength" translate>
                create.impulse.projecttitle.title.validation.minlenght
              </div>
              <div *ngIf="title.errors.maxlength" translate>
                create.impulse.projecttitle.title.validation.maxlenght
              </div>
            </div>
            <div class="form-text text-muted" translate>
                create.impulse.projecttitle.title.text
            </div>
        </div>
        <div class="row">
          <!-- PROJECT IMAGE -->
          <div class="col-lg-6 col-xs-12">
              <div
                  class="form-group"
                  [ngClass]="imgRequired && !imgUploaded ? 'light-red' : 'light-blue'">
                  <label for="projectImage">
                      <h3 translate>
                        create.impulse.projectimage.title
                      </h3>
                  </label>
                  <p class="form-text text-muted" *ngIf="imgState !== uploadingState && !imgUploaded" translate>
                    create.impulse.projectimage.text
                  </p>
                  <span
                      class="btn btn-file form-control"
                      [ngClass]="imgUploaded ? 'btn-success' : 'btn-info'"
                      *ngIf="imgState != uploadingState">
                      <i class="material-icons cloud_upload" *ngIf="!imgUploaded"></i>
                      {{ imgState }}
                      <i class="material-icons cloud_done" *ngIf="imgUploaded"></i>
                      <label>
                          <input
                              type="file"
                              id="projectImage"
                              name="imgUploader"
                              (change)="onFileImgChange($event)"/>
                          <input
                              type="hidden"
                              name="imgHidden"
                              formControlName="imageInput" />
                      </label>
                  </span>
                  <span class="btn btn-file form-control btn-disabled" *ngIf="imgState === uploadingState">
                      {{ imgState | translate }}
                  </span>
                  <div
                      *ngIf="imgRequired"
                      class="alert text-danger">
                      <div *ngIf="!imgSize || !imgExtension" translate>
                        create.impulse.uploadimage.validation
                      </div>
                  </div>
                  <div class="form-text text-muted" *ngIf="imgState !== uploadingState && !imgUploaded" translate>
                    create.impulse.projectimage.subtext.required
                  </div>
              </div>
          </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-xs-6">
                <!-- PROJECT VIDEO -->
                <div
                    class="form-group"
                    [ngClass]="videoRequired && !videoUploaded ? 'light-red' : 'light-blue'">
                    <label for="projectVideo">
                        <h3 translate>
                            create.impulse.projectvideo.title
                        </h3>
                    </label>
                    <ng-progress [color]="'#65c4dc'"></ng-progress>
                    <p class="form-text text-muted"
                        *ngIf="videoState !== uploadingState && !videoUploaded" translate>
                        create.impulse.projectvideo.text
                    </p>
                    <!-- VIDEO LINK -->
                    <input
                        *ngIf="!videoUploaded && videoState !== uploadingState"
                        name="videoLink"
                        type="text"
                        class="form-control form-control-lg"
                        placeholder="YouTube or Vimeo link"
                        formControlName="videoLink" />
                    <!--div
                      class="text-gray text-center"
                      *ngIf="!videoUploaded && videoState !== uploadingState">
                      Or
                    </div-->
                    <!-- /VIDEO LINK -->
                    <!--span class="btn btn-file form-control" [ngClass]="videoUploaded ? 'btn-success' : 'btn-info'" *ngIf="videoState != uploadingState">
                        <i class="material-icons cloud_upload" *ngIf="!videoUploaded"></i>
                        {{ videoState }}
                        <i class="material-icons cloud_done" *ngIf="videoUploaded"></i>
                        <label>
                            <input
                                type="text"
                                name="videoLink"
                                class="form-control" />
                            <input
                                type="file"
                                id="projectVideo"
                                name="projectVideo"
                                (change)="onFileVideoChange($event)"/>
                            <input
                                type="hidden"
                                name="videoHidden"
                                formControlName="videoInput" />
                        </label>
                    </span>
                    <span class="btn btn-file form-control btn-disabled" *ngIf="videoState === uploadingState">
                        {{ videoState }}
                    </span>
                    <div
                        *ngIf="videoRequired"
                        class="alert text-danger">
                        <div *ngIf="!videoSize || !videoExtension">
                          Please upload a video (mp4, mkv, mov).
                          5gb max size.
                        </div>
                    </div-->
                    <div class="form-text text-muted" translate><!--*ngIf="videoState !== uploadingState && !videoUploaded"-->
                        create.impulse.link.placeholder
                    </div>
                </div>
            </div>
            <div class="col-xs-6">
              <!-- Project Blurb  -->
              <div
                  class="form-group"
                  [ngClass]="blurb.invalid && (blurb.dirty || blurb.touched) ? 'light-red' : 'light-blue'">
                  <label for="projectDescription">
                      <h3 translate>
                        create.impulse.shortblurb
                      </h3>
                  </label>
                  <textarea
                      name="description"
                      class="form-control form-control-lg"
                      id="projectDescription"
                      rows="3"
                      formControlName="blurb"
                      required>
                  </textarea>
                  <div *ngIf="blurb.invalid && (blurb.dirty || blurb.touched)"
                       class="alert text-danger">

                    <div *ngIf="blurb.errors.required" translate>
                        create.impulse.shortblurb.validation
                    </div>
                    <div *ngIf="blurb.errors.minlength" translate>
                        create.impulse.shortblurb.validation.required
                    </div>
                    <div *ngIf="blurb.errors.maxlength" translate>
                        create.impulse.shortblurb.validation.maxlenght
                    </div>
                  </div>
                  <div class="form-text text-muted" translate>
                    create.impulse.shortblurb.subtext
                  </div>
              </div>
            </div>
        </div>
        <!-- Project Description  -->
        <div
            class="form-group"
            [ngClass]="description.invalid && (description.dirty || description.touched) ? 'light-red' : 'light-blue'">
            <label for="projectDescription">
                <h3 translate>
                    create.impulse.description
                </h3>
            </label>
            <!-- EDITOR -->
            <app-ngx-editor id="projectDescription" [config]="editorConfig" formControlName="description"></app-ngx-editor>
            <!-- /EDITOR -->
            <div *ngIf="description.invalid && (description.dirty || description.touched)"
                 class="alert text-danger">

              <div *ngIf="description.errors.required" translate>
                create.impulse.description.required
              </div>
              <div *ngIf="description.errors.minlength" translate>
                create.impulse.description.maxlenght
              </div>
            </div>
            <div class="form-text text-muted" translate>
                create.impulse.description.description
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <!-- CATEGORY -->
                <div
                class="form-group"
                [ngClass]="category.invalid && (category.dirty || category.touched) ? 'light-red' : 'light-blue'">
                    <label for="selectCategory">
                        <h3 translate>
                            create.impulse.category
                        </h3>
                    </label>
                    <div class="col-6">
                        <select
                            class="form-control custom-select"
                            name="category"
                            id="selectCategory"
                            formControlName="category"
                            required>
                            <option value="Energia">Energía</option>
                            <option value="Sustentabilidad">Sustentabilidad</option>
                            <option value="Tecnología">Tecnología</option>
                            <option value="Salud">Salud</option>
                            <option value="Video Juegos">Videojuegos</option>
                            <option value="Alimentos">Alimentos</option>
                            <option value="Biotecnología">Biotecnología</option>
                            <option value="Transporte">Transporte</option>
                            <option value="Tierras">Tierras</option>
                            <option value="Cine y TV">Cine y TV</option>
                            <option value="Musica">Música</option>
                            <option value="Libros">Libros</option>
                            <option value="Teatro">Teatro</option>
                        </select>
                        <div *ngIf="category.invalid && (category.dirty || category.touched)"
                             class="alert text-danger">

                          <div *ngIf="category.errors.required" translate>
                            create.impulse.category.validation
                          </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <!-- PROJECT LOCATION -->
                <div
                    class="form-group"
                    [ngClass]="location.invalid && (location.dirty || location.touched) ? 'light-red' : 'light-blue'">
                    <label for="projectLocation">
                        <h3 translate>
                            create.impulse.projectlocation
                        </h3>
                    </label>
                    <div class="input-group  input-group-lg">
                        <input
                            type="text"
                            name="location"
                            id="projectLocation"
                            class="form-control"
                            formControlName="location"
                            placeholder="Search for..." />
                            <div *ngIf="location.invalid && (location.dirty || location.touched)"
                                 class="alert text-danger">

                              <div *ngIf="location.errors.required" translate>
                                create.impulse.projectlocation.validation
                              </div>
                              <div *ngIf="location.errors.minlength" translate>
                                create.impulse.projectlocation.validation.minlenght
                              </div>
                              <div *ngIf="location.errors.maxlength" translate>
                                create.impulse.projectlocation.validation.maxlenght
                              </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <!-- FUNDING GOAL -->
                <div
                    class="form-group"
                    [ngClass]="goal.invalid && (goal.dirty || goal.touched) ? 'light-red' : 'light-blue'">
                    <label for="projectFundingGoal">
                        <h3 translate>
                            create.impulse.fundinggoal
                        </h3>
                    </label>
                    <div class="input-groucol-4 pl-0">
                        <input
                            type="number"
                            name="goal"
                            id="projectFundingGoal"
                            class="form-control form-control-lg"
                            placeholder="Funding goal"
                            value="0"
                            formControlName="goal"
                            required />
                    </div>
                    <div *ngIf="goal.invalid && (goal.dirty || goal.touched)"
                         class="alert text-danger">

                      <div *ngIf="goal.errors.required" translate>
                        create.impulse.fundinggoal.validation
                      </div>
                      <div *ngIf="goal.errors.pattern" translate>
                        create.impulse.fundinggoal.validation.numbers
                      </div>
                      <div *ngIf="goal.errors.min" translate>
                        create.impulse.fundinggoal.validation.min
                      </div>
                      <div *ngIf="goal.errors.max" translate>
                        create.impulse.fundinggoal.validation.max
                      </div>
                    </div>
                    <div class="text-muted" translate>
                        create.impulse.fundinggoal.subtext
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
              <!-- PROJECT COLLABORATORS -->
              <div
                  class="form-group"
                  [ngClass]="emailCollaborators.invalid && (emailCollaborators.dirty || emailCollaborators.touched) ? 'light-red' : 'light-blue'">
                  <label for="projectCollaborators">
                      <h3 translate>
                        create.impulse.projectcollaborators
                      </h3>
                  </label>
                  <div
                      formArrayName="collaborators"
                      *ngFor="let collaborator of collaborators.controls; let i = index;">
                      <div class="mb-2" [formGroupName]="i">
                          <div class="col-6">
                              <input
                                  type="email"
                                  name="email"
                                  class="form-control form-control-lg"
                                  id="projectCollaborators"
                                  formControlName="email"
                                  aria-describedby="emailHelp"
                                  placeholder="Enter email"
                                  required />
                              <div *ngIf="collaborator.controls.email.invalid && (collaborator.controls.email.dirty || collaborator.controls.email.touched)"
                                   class="alert text-danger">

                                <div *ngIf="collaborator.controls.email.errors.required" translate>
                                    create.impulse.projectcollaborators.validation
                                </div>
                                <div *ngIf="collaborator.controls.email.errors.email && !collaborator.controls.email.errors.required" translate>
                                    create.impulse.projectcollaborators.validation.required
                                </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-6">
                      <button
                          class="btn btn-primary"
                          (click)="addCollaborator()">
                              <i class="fa fa-plus" aria-hidden="true">
                              </i>
                      </button>
                      <button
                          class="btn btn-danger"
                          (click)="deleteCollaborator()">
                              <i class="fa fa-minus" aria-hidden="true">
                              </i>
                      </button>
                  </div>
              </div>
              <!-- PHONE -->
                <div
                class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12"
                [ngClass]="phone.invalid && (phone.dirty || phone.touched) ? 'light-red' : 'light-blue'">
                <label for="inputPhone">
                    <h3 translate>
                        create.impulse.projectphone.phone
                    </h3>
                </label>
                <input
                    name="projectPhone"
                    type="number"
                    class="form-control form-control-lg"
                    placeholder="Enter phone"
                    id="inputPhone"
                    formControlName="phone"
                    required />
                <div *ngIf="phone.invalid && (phone.dirty || phone.touched)"
                    class="alert text-danger">
                <div *ngIf="phone.errors.required" translate>
                    create.impulse.validation.required
                </div>
                <div *ngIf="phone.errors.minlength" translate>
                    create.impulse.projectphone.phone.validation.minlenght
                </div>
                <div *ngIf="phone.errors.maxlength" translate>
                    create.impulse.projectphone.phone.validation.maxlenght
                </div>
                </div>
                <div class="form-text text-muted" translate>
                    create.impulse.projectphone.phone.text
                </div>
            </div>
            </div>
        </div>
        <span translate>create.impulse.termofuse</span><a href="/terms" target="_blank" translate>create.impulse.termofuse.acces</a>.
    </form>
    <nav class="navbar fixed-bottom navbar-light bg-faded" style="background: #fff; border-top: 1px solid #eee">
        <div style="float: right;">
            <a href="edit.html" class="btn btn-link btn-lg float-right" translate>
                create.impulse.cleanstep.button
            </a>
            <button
                (click)="sendStepOne()"
                [disabled]="stepOne.invalid"
                class="btn btn-primary btn-lg float-right">
                {{ 'create.impulse.continue.button' | translate}}
            </button>
        </div>
    </nav>
</div>
<!-- /STEP ONE -->
