.title-input {
    background-color: #f5f5f5;
    border: 0;
    font-size: 40px;
    font-weight: 300;
    font-style: normal;
    text-transform: none;
    margin-top: 12%;
}

.title-label {
    margin-top: 16px;
  }