<!-- Container -->
<section class="container padding-top-1x padding-bottom">
  <span class="row text-center" *ngIf="operation">
    <h1 class="success-icon text-success">
      <i class="material-icons check_circle"></i>
    </h1>
    <h1>Pago Exitoso</h1>
    <h3 class="text-sm text-gray">
      Código de operación: <strong>INVOP-{{ invop }}</strong>
    </h3>
  </span>
  <span class="row text-center" *ngIf="!operation && newAdventure">
    <h1 class="success-icon text-success">
      <i class="material-icons check_circle"></i>
    </h1>
    <h1>Felicidades!</h1>
    <p class="text-sm text-gray">
      Tu aventura se creo con exito. Redirigiendo...
    </p>
    <p class="text-sm text-success">
      https://invow.com/adventure/{{invcode}}/{{slug}}
    </p>
  </span>
</section><!-- .container -->
