.logo {
  width: 100px;
}

q {
  font-style: italic;
  font-size: 1.2rem;
  quotes: "« " " »";
}

.background {
    width: 100%;
    height: 100%;
    background:url('../../assets/img/adventures/trucks.jpg');
    position: relative;
}

.layer {
    background-color: rgba(248, 247, 216, 0.25);
    //background-color: rgba(255, 255, 255, 0.92);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.category-icons {
    font-size: 12em;
}

iframe#bgvid {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    //background: url(polina.jpg) no-repeat;
    background-size: cover;
}


.bkg-white {
  background-color: rgba(255,255,255,0.9);
  -webkit-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.12);
  -moz-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.12);
  box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.12);
}

.bkg-white-transparent {
  background-color: rgba(255,255,255,0.8);
}

.profile-image {
  width: 100px;
  height: 100px;
  margin: 0 auto;
}

.red-icon {
  color: rgba(245, 18, 48, 0.7);
}

.method-icons {
  font-size: 21pt;
  color: rgba(0,0,0,0.6);
}

/* CARD MATCH */
.card {
  padding-left: 0;
  padding-right: 0;
  margin-top: 30px;
}

.card-thumb {
  max-width: 1080px;
  margin-bottom: 6px;
}

.card-p {
  margin-bottom: 6%;
  font-size: 12pt;
}

.card-progressbar {
  padding-left: 0;
}

.card-backers-p {
  margin-bottom: 0;
}

.card-btn {
  background-color: #f5f5f5;
  font-size: 24pt;
  text-align:center;
}

.card-like-count {
  font-size: 9pt;
  color: gray;
}

.card-like {
  color: #ff40aa9c;
  margin: 0 auto;
  text-align: center;
}

.card-like-border {
  color: #ff40aa9c;
  margin: 0 auto;
  text-align: center;
}

.card-cancel {
  color: #CFD8DC;
  padding-bottom: 18px;
}

.card-padding {
  padding-bottom: 18px;
}

/* CARD ANIMATION */
@-webkit-keyframes fadeIn {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-moz-keyframes fadeIn {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-o-keyframes fadeIn {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes fadeIn {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

.card-animation {
  -webkit-animation: fadeIn 5s 1; /* Safari 4+ */
  -moz-animation:    fadeIn 5s 1; /* Fx 5+ */
  -o-animation:      fadeIn 5s 1; /* Opera 12+ */
  animation:         fadeIn 5s 1; /* IE 10+, Fx 29+ */
}
/* /CARD ANIMATION */

/* LIKE ANIMATION */
@-webkit-keyframes big {
  0%   { font-size: 7pt; }
  90%  { font-size: 100pt; }
  100% { font-size: 24pt; }
}
@-moz-keyframes big {
  0%   { font-size: 7pt; }
  90%  { font-size: 100pt; }
  100% { font-size: 24pt; }
}
@-o-keyframes big {
  0%   { font-size: 7pt; }
  90%  { font-size: 100pt; }
  100% { font-size: 24pt; }
}
@keyframes big {
  0%   { font-size: 24pt; }
  50%  { font-size: 30pt; }
  100% { font-size: 24pt; }
}

.adv-like:hover {
  -webkit-animation: big .6s infinite; /* Safari 4+ */
  -moz-animation:    big .6s infinite; /* Fx 5+ */
  -o-animation:      big .6s infinite; /* Opera 12+ */
  animation:         big .6s infinite; /* IE 10+, Fx 29+ */
}

/* /LIKE ANIMATION */

.motivational-message-container {
  height: 100%;
}

.motivational-message-text {
  text-align: center;
}

/* /CARD MATCH */

.subscribe-input-container {
  position: absolute;
  left: -5000px;
}

.adv-title {
  margin-top: 50%;
}

.progress-bar-funded {
  background-color: #77e3ac;
}

.capital-funded {
  color: #77e3ac;
}

.adventure-capital {
  color: #606060;
}