.success-icon {
  font-size: 128pt;
}

.new-icons {
  font-size: 12em;
}

.new-link:hover {
  color: rgba(245, 18, 48, 0.7);
  //color: rgba(68, 113, 145, 0.68);
  //color: rgba(112, 174, 96, 0.7);
}

.lock-icon {
  font-size: 3em;
}

.price-icons {
  color: gray;
}

.info-premium {
  background-color: #f9f9f9 !important;
}

.info-family {
  background-color: #f9f9f9 !important;
}

