<div class="container">
    <div class="row padding-top-2x">
        <app-breadcrumbs
            [states]="breadcrumbNames"
            [initial]="initialState">
        </app-breadcrumbs>
        <app-impulse *ngIf="impulseIn"></app-impulse>
        <app-options
            *ngIf="impulseOptionsIn"></app-options>
        <app-challenge *ngIf="challengeIn"></app-challenge>
        <app-campaign *ngIf="campaignIn"></app-campaign>
        <app-round *ngIf="roundIn"></app-round>
        <!--app-payments *ngIf="paymentsIn"></app-payments-->
    </div>
</div>
