
<!-- FILES -->
<div class="row">
  <div
    role="tabpanel"
    class="tab-pane transition fade scale in active"
    id="adventures"
  >
    <div
      class="table-responsive text-center"
      *ngIf="!sharedService.isLoading && adventureDocuments"
    >
      <p
        *ngIf="adventureDocuments.length == 0"
        class="text-sm text-gray"
        translate
      >
        No files.
      </p>
      <table
        *ngIf="adventureDocuments.length != 0"
      >
        <thead>
          <tr>
            <th translate>
              adventure.documents.name
            </th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let doc of documents; let i = index;">
            <td>{{ doc.name }}</td>
              <td>
                <a
                  href="https://invow.com/api/file/{{ doc.name }}"
                  target="_blank"
                  translate
                >
                  adventure.documents.download
                </a>
              </td>
            <td>
              <a
                (click)="removeMethod('document', doc)"
                class="text-danger to-click"
                translate
              >
                adventure.documents.remove
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div><!-- .tab-pane#adventures -->
</div>
  <!-- Documents Form -->
  <div
    class="col-xs-12 text-center"
    *ngIf="documentSuccess"
  >
    <h1 class="success-icon">
      <i class="material-icons check_circle"></i>
    </h1>
    <h4 class="padding-top" translate>
      Muchas gracias!
    </h4>
    <p class="text-sm text-gray" translate>
      adventure.documents.thanksmessage
    </p>
  </div>
  <div
    class="col-xs-12 text-center"
    *ngIf="documentError"
  >
    <h1 class="error-icon">
      <i class="material-icons error"></i>
    </h1>
    <h4 translate>
      adventure.documents.errormessage
    </h4>
    <p class="text-sm text-gray" translate>
      adventure.documents.error.waittrymessage
    </p>
  </div>
  <form
    [formGroup]="documentForm"
    class="row padding-top"
    *ngIf="documentFormView && currentUser"
  >
    <div class="col-sm-12">
      <div class="form-group">
        <label for="projectFile" class="text-center">
          <span
            class="btn btn-file form-control to-click"
            [ngClass]="fileUploaded ? 'btn-success' : 'btn-default'"
            *ngIf="fileState != uploadingState"
          >
            <i class="material-icons cloud_upload" *ngIf="!fileUploaded"></i>
            {{ fileState }}
            <i class="material-icons cloud_done" *ngIf="fileUploaded"></i>
            <label>
              <input
                type="file"
                id="projectFile"
                name="fileUploader"
                (change)="onFileChange($event)"
              >
              <input
                type="hidden"
                name="fileHidden"
                formControlName="fileInput"
              >
            </label>
          </span>
          <span
            class="btn btn-file form-control btn-disabled"
            *ngIf="fileState === uploadingState"
          >
            {{ fileState }}
          </span>
        </label>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <input
          type="text"
          class="form-control"
          placeholder="Name*"
          required
          formControlName="name"
        >
        <div
          *ngIf="documentName.invalid && (documentName.dirty || documentName.touched)"
          class="alert text-danger"
        >
          <div
            *ngIf="documentName.errors.required"
            translate
          >
            adventure.documents.required
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <select
          class="form-control"
          formControlName="public"
        >
          <option value="true" translate>
            adventure.public
          </option>
          <option value="false" translate>
            adventure.private
          </option>
        </select>
        <div
          *ngIf="documentPublic.invalid && (documentPublic.dirty || documentPublic.touched)"
          class="alert text-danger"
        >
          <div *ngIf="documentPublic.errors.required" translate>
            Document's scope is required.
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12">
      <button
        [disabled]="documentForm.invalid"
        (click)="save('document')"
        class="btn btn-block btn-primary waves-effect waves-light"
        translate
      >
        adventure.documents.save.button
      </button>
    </div>
  </form><!-- .row -->
