
        <!-- REWARDS / CROWDFUNDING -->
        <div
          *ngFor="let cf of adventureRewards; let i = index;"
        >
          <div
            *ngIf="!showCrowdfundingInputs && !createCrowdlendingInputs"
          >
            <div
              class="col-xs-12 bkg-white padding-top-1x padding-bottom-2x"
            >
              <span class="row">
                <i class="material-icons card_giftcard method-icons to-center"></i>
                <i
                  class="material-icons whatshot adventure-icons red-icon"
                  *ngIf="cf.quantity <= 12 && cf.quantity !== 0"
                >
                </i>
                <ng-container>
                  {{ cf.quantity }}
                </ng-container>
              </span>
              <h3
                *ngIf="cf.quantity !== 0"
                translate
              >
                {{ cf.title }}
                <strong>$ {{ cf.pledgeAmount }}</strong>
              </h3>
              <h3
                *ngIf="cf.quantity === 0"
                translate
              >
                <span class="text-gray">
                  {{ cf.title }}
                  <strong>$ {{ cf.pledgeAmount }}</strong>
                </span>
              </h3>
              <p
                class="text-sm text-gray"
                *ngIf="cf.quantity !== 0"
              >
                {{ cf.description }}
              </p>
              <p
                class="text-sm text-gray"
                *ngIf="cf.quantity !== 0"
              >
                {{'adventure.crowdfunding.text.partone' | translate}} 
                <strong>
                  {{ cf.shippingTime }}
                  {{ 'adventure.crowdfunding.text.parttwo' | translate }}
                  </strong>
                  {{'adventure.crowdfunding.text.partthree'  | translate}}
              </p>
              <p
                class="text-sm text-gray"
                *ngIf="cf.quantity !== 0"
              >
                ( {{'adventure.crowdfunding.shipping.one' | translate}}
                <strong translate>
                  adventure.crowdfunding.shipping.two
                </strong>).
              </p>
              <span
                class="shop-label text-gray"
                *ngIf="cf.quantity === 0"
              >
                AGOTADO
              </span>
                <span
                  *ngIf="currentUser && false"
                  class="shop-label text-success">
                  Destacar
                </span>
                <!--!expired(cf.createdDate, cf.days)-->
                <a
                  *ngIf="cf.quantity > 0"
                  (click)="checkout(cf)"
                  class="add-to-cart to-click adv-btn"
                  translate
                >
                  <em translate>
                    Checkout
                  </em>
                  <svg x="0px" y="0px" width="32px" height="32px" viewBox="0 0 32 32">
                    <path
                      stroke-dasharray="19.79 19.79"
                      stroke-dashoffset="19.79"
                      fill="none"
                      stroke="#FFFFFF"
                      stroke-width="2"
                      stroke-linecap="square"
                      stroke-miterlimit="10"
                      d="M9,17l3.9,3.9c0.1,0.1,0.2,0.1,0.3,0L23,11"
                    >
                    </path>
                  </svg>
                </a><!-- Add2cart -->
                <!--!expired(cf.createdDate, cf.days)-->
                <a
                  *ngIf="cf.quantity > 0"
                  (click)="addReward2Cart(cf, adventureInvcode, adventureSlug);"
                  class="add-to-cart to-click add-btn"
                  translate
                >
                  <em translate>
                    adventure.invest.button
                  </em>
                  <svg x="0px" y="0px" width="32px" height="32px" viewBox="0 0 32 32">
                    <path
                      stroke-dasharray="19.79 19.79"
                      stroke-dashoffset="19.79"
                      fill="none"
                      stroke="#FFFFFF"
                      stroke-width="2"
                      stroke-linecap="square"
                      stroke-miterlimit="10"
                      d="M9,17l3.9,3.9c0.1,0.1,0.2,0.1,0.3,0L23,11"
                    >
                    </path>
                  </svg>
                </a><!-- Go to Checkout -->
                <a
                  *ngIf="currentUser"
                  (click)="edit('crowdfunding', cf)"
                  class="add-to-cart to-click edit-btn"
                  translate
                >
                  <em translate>
                    adventure.crowdlending.edit
                  </em>
                </a><!-- edit -->
              </div>
              <div class="col-xs-12">
                <hr>
              </div>
            </div>
            <!-- CROWDFUNDING EDIT INPUT FIELD -->
            <div
              class="form-group"
              *ngIf="showCrowdfundingInputs && !createCrowdfundingInputs && currentIndex == cf.index"
            >
              <span class="row">
                <h3>
                  <img
                    src="assets/img/icons/reward-90.png"
                    class="to-center"
                    alt="Invow Reward"
                  >
                  <!--i class="material-icons card_giftcard adventure-icons"></i-->
                    # {{ cf.index }}
                </h3>
                <hr>
              </span>
              <form [formGroup]="crowdfundingForm">
                <div class="form-group col-xs-12">
                  <label for="cfTitle" translate>
                    adventure.crowdfunding.title
                  </label>
                  <input
                    id="cfTitle"
                    type="text"
                    class="form-control"
                    formControlName="title"
                  >
                </div>
                <div class="form-group col-xs-6">
                  <label for="clPledgeAmount" translate>
                    adventure.crowdlending.pledgeamount
                  </label>
                  <input
                    id="clPledgeAmount"
                    type="number"
                    class="form-control"
                    formControlName="pledgeAmount"
                  >
                </div>
                <div class="form-group col-xs-6">
                  <label for="cfShipping" translate>
                    adventure.crowdfunding.shippingtime
                  </label>
                  <input
                    id="cfShipping"
                    type="number"
                    class="form-control"
                    formControlName="shippingTime"
                  >
                </div>
                <div
                  class="form-group col-xs-12"
                >
                  <label for="cfDescription" translate>
                    adventure.description
                  </label>
                  <textarea
                    rows="6"
                    id="cfDescription"
                    type="text"
                    class="form-control"
                    formControlName="description"
                  >
                  </textarea>
                </div>
                <div class="col-xs-12 adventure-quantity">
                  <hr>
                  <label for="cfQuantity" translate>
                    adventure.crowdfunding.quantity
                  </label>
                  <div class="count-input adventure-quantity">
                    <a class="incr-btn" data-action="decrease">–</a>
                    <input
                      class="quantity center-block"
                      id="cfQuantity"
                      type="number"
                      formControlName="quantity"
                    >
                    <a class="incr-btn" data-action="increase">+</a>
                  </div>
                </div>
                <div
                  *ngIf="cfPledgeAmount.invalid && (cfPledgeAmount.dirty || cfPledgeAmount.touched)"
                  class="alert text-danger"
                >
                  <div
                    *ngIf="cfPledgeAmount.errors.required"
                    translate
                  >
                    adventure.crowdfunding.pledgeamount.required
                  </div>
                  <div
                    *ngIf="cfPledgeAmount.errors.pattern"
                    translate
                  >
                    adventure.crowdfunding.pledgeamount.validation.pattern
                  </div>
                  <div
                    *ngIf="cfPledgeAmount.errors.max"
                    translate
                  >
                    adventure.crowdfunding.pledgeamount.validation.maxlenght
                  </div>
                  <div
                    *ngIf="cfPledgeAmount.errors.max && !cfPledgeAmount.errors.required"
                    translate
                  >
                    adventure.crowdfunding.pledgeamount.validation.minlenght
                  </div>
                </div>
                <div
                  *ngIf="cfTitle.invalid && (cfTitle.dirty || cfTitle.touched)"
                  class="alert text-danger"
                >
                  <div *ngIf="cfTitle.errors.required" translate>
                    adventure.title.required
                  </div>
                  <div *ngIf="cfTitle.errors.minlength" translate>
                    adventure.title.validation.minleght
                  </div>
                  <div
                    *ngIf="cfTitle.errors.maxlength && !cfTitle.errors.required"
                    translate
                  >
                    adventure.title.validation.maxlenght
                  </div>
                </div>
                <div
                  *ngIf="cfDescription.invalid && (cfDescription.dirty || cfDescription.touched)"
                  class="alert text-danger"
                >
                  <div *ngIf="cfDescription.errors.required" translate>
                    adventure.description.required
                  </div>
                  <div
                    *ngIf="cfDescription.errors.minlength && !cfDescription.errors.required"
                    translate
                  >
                    adventure.description.validation.maxlenght
                  </div>
                </div>
                <div
                  *ngIf="cfShippingTime.invalid && (cfShippingTime.dirty || cfShippingTime.touched)"
                  class="alert text-danger"
                >
                  <div *ngIf="cfShippingTime.errors.required" translate>
                    adventure.shippingtime.required
                  </div>
                  <div *ngIf="cfShippingTime.errors.pattern" translate>
                    adventure.shippingtime.validation.pattern
                  </div>
                  <div
                    *ngIf="cfShippingTime.errors.min && !cfShippingTime.errors.required"
                    translate
                  >
                    adventure.shippingtime.validation.minlenght
                  </div>
                </div>
                <div
                  *ngIf="cfQuantity.invalid && (cfQuantity.dirty || cfQuantity.touched)"
                  class="alert text-danger"
                >
                  <div *ngIf="cfQuantity.errors.required" translate>
                    adventure.quantity.required
                  </div>
                  <div *ngIf="cfQuantity.errors.pattern" translate>
                    adventure.quantity.validation.pattern
                  </div>
                  <div
                    *ngIf="cfQuantity.errors.min && !cfQuantity.errors.required"
                    translate
                  >
                    adventure.quantity.validation.minlenght
                  </div>
                </div>
                <div class="col-xs-12">
                  <hr>
                  <small class="form-text text-muted" translate>
                    adventure.crowdfunding.text
                  </small>
                  <hr>
                </div>
                <div class="col-xs-12">
                  <div class="col-xs-12">
                    <a
                      (click)="remove('crowdfunding', cf)"
                      class="btn btn-danger form-control"
                    >
                      {{'adventure.crowdfunding.delete' | translate}}
                      <strong>{{cf.index}}</strong>
                    </a>
                  </div>
                </div>
                <div class="col-xs-12">
                  <hr>
                </div>
                <div class="col-xs-12">
                  <div class="col-xs-6">
                    <button
                      (click)="cancel('crowdfunding')"
                      class="btn btn-default form-control"
                      translate
                    >
                      adventure.crowdfunding.cancel.button
                    </button>
                  </div>
                  <div class="col-xs-6">
                    <button
                      [disabled]="crowdfundingForm.invalid"
                      (click)="save('crowdfunding', cf, i)"
                      class="btn btn-primary form-control"
                      translate
                    >
                      adventure.crowdfunding.save.button
                    </button>
                  </div>
                  <div class="col-xs-12">
                    <hr>
                  </div>
                </div>
              </form>
            </div>
            <!-- /CROWDFUNDING EDIT INPUT FIELD -->
          </div>
          <!-- CROWDFUNDING CREATE INPUT FIELD -->
          <div
            class="form-group"
            *ngIf="createCrowdfundingInputs"
          >
            <div class="col-xs-12">
              <hr>
            </div>
            <form [formGroup]="crowdfundingForm">
              <h3 translate>
                <img
                  src="assets/img/icons/reward-90.png"
                  class="to-center"
                  alt="Invow New Reward"
                >
                {{'adventure.newreward' | translate}}
              </h3>
              <hr>
              <div class="form-group col-xs-12">
                <label for="cfTitle">
                  Title
                </label>
                <input
                  id="cfTitle"
                  type="text"
                  class="form-control"
                  formControlName="title"
                >
              </div>
              <div class="form-group col-xs-12">
                <!-- Uploader -->
                <app-uploader
                  [fileForm]="crowdfundingForm"
                  [control]="'image'"
                  [type]="'image'"
                  [uploadState]="uploadState"
                  [uploadingState]="uploadingState"
                  [required]="true"
                  [size]="50000000"
                >
                </app-uploader>
                <!--/Uploader -->
              </div>
              <div class="form-group col-xs-6">
                <label for="clPledgeAmount" translate>
                  adventure.pledgeamount
                </label>
                <input
                  id="clPledgeAmount"
                  type="number"
                  class="form-control"
                  formControlName="pledgeAmount"
                >
              </div>
              <div class="form-group col-xs-6">
                <label for="cfShipping" translate>
                  adventure.shippingtime
                </label>
                <input
                  id="cfShipping"
                  type="number"
                  class="form-control"
                  formControlName="shippingTime"
                >
              </div>
              <div class="form-group col-xs-12">
                <label for="cfDays" translate>
                  Days
                </label>
                <input
                  id="cfDays"
                  type="number"
                  class="form-control"
                  formControlName="days"
                >
              </div>
              <div class="form-group col-xs-12">
                <label for="cfDescription" translate>
                  adventure.description
                </label>
                <textarea
                  rows="6"
                  id="cfDescription"
                  type="text"
                  class="form-control"
                  formControlName="description"
                >
                </textarea>
              </div>
              <div class="col-xs-12 adventure-quantity">
                <hr>
                <label for="cfQuantity" translate>
                  adventure.crowdfunding.quantity
                </label>
                <div class="count-input adventure-quantity">
                  <a class="incr-btn" data-action="decrease">–</a>
                  <input
                    class="quantity center-block"
                    id="cfQuantity"
                    type="number"
                    formControlName="quantity"
                  >
                  <a class="incr-btn" data-action="increase">+</a>
                </div>
              </div>
              <div
                *ngIf="cfPledgeAmount.invalid && (cfPledgeAmount.dirty || cfPledgeAmount.touched)"
                class="alert text-danger"
              >
                <div *ngIf="cfPledgeAmount.errors.required" translate>
                  adventure.crowdfunding.pledgeamount.required
                </div>
                <div *ngIf="cfPledgeAmount.errors.pattern" translate>
                  adventure.crowdfunding.pledgeamount.validation.pattern
                </div>
                <div *ngIf="cfPledgeAmount.errors.max" translate>
                  adventure.crowdfunding.pledgeamount.validation.maxlenght
                </div>
                <div
                  *ngIf="cfPledgeAmount.errors.max && !cfPledgeAmount.errors.required"
                  translate
                >
                  adventure.crowdfunding.pledgeamount.validation.minlenght
                </div>
              </div>
              <div
                *ngIf="cfTitle.invalid && (cfTitle.dirty || cfTitle.touched)"
                class="alert text-danger"
              >
                <div *ngIf="cfTitle.errors.required" translate>
                  adventure.title.required
                </div>
                <div *ngIf="cfTitle.errors.minlength" translate>
                  adventure.title.validation.minleght
                </div>
                <div
                  *ngIf="cfTitle.errors.maxlength && !cfTitle.errors.required"
                  translate
                >
                  adventure.title.validation.maxlenght
                </div>
              </div>
              <div
                *ngIf="cfDescription.invalid && (cfDescription.dirty || cfDescription.touched)"
                class="alert text-danger"
              >
                <div *ngIf="cfDescription.errors.required" translate>
                  adventure.description.required
                </div>
                <div
                  *ngIf="cfDescription.errors.minlength && !cfDescription.errors.required"
                  translate
                >
                  adventure.description.validation.minlenght
                </div>
              </div>
              <div
                *ngIf="cfShippingTime.invalid && (cfShippingTime.dirty || cfShippingTime.touched)"
                class="alert text-danger"
              >
                <div *ngIf="cfShippingTime.errors.required" translate>
                  adventure.shippingtime.required
                </div>
                <div *ngIf="cfShippingTime.errors.pattern" translate>
                  adventure.shippingtime.validation.pattern
                </div>
                  <div
                    *ngIf="cfShippingTime.errors.min && !cfShippingTime.errors.required"
                    translate
                  >
                    adventure.shippingtime.validation.minlenght
                  </div>
                </div>
                <div
                  *ngIf="cfQuantity.invalid && (cfQuantity.dirty || cfQuantity.touched)"
                  class="alert text-danger"
                >
                  <div *ngIf="cfQuantity.errors.required" translate>
                    adventure.quantity.required
                  </div>
                  <div *ngIf="cfQuantity.errors.pattern" translate>
                    adventure.quantity.validation.pattern
                  </div>
                  <div
                    *ngIf="cfQuantity.errors.min && !cfQuantity.errors.required"
                    translate
                    >
                      adventure.quantity.validation.minlenght
                  </div>
                </div>
                <div class="col-xs-12">
                  <hr>
                  <small class="form-text text-muted" translate>
                    adventure.crowdfunding.text
                  </small>
                  <hr>
                </div>
                <div class="col-xs-12">
                  <div class="col-xs-6">
                    <button
                      (click)="cancelCreate('crowdfunding')"
                      class="btn btn-default form-control"
                      translate
                    >
                      adventure.cancel.button
                    </button>
                  </div>
                  <div class="col-xs-6">
                    <button
                      [disabled]="crowdfundingForm.invalid"
                      (click)="save('crowdfunding')"
                      class="btn btn-primary form-control"
                      translate
                    >
                      adventure.save.button
                    </button>
                  </div>
                  <div class="col-xs-12">
                    <hr>
                  </div>
                </div>
              </form>
            </div>
            <!-- /CROWDFUNDING CREATE INPUT FIELD -->
            <a
              (click)="add('crowdfunding')"
              *ngIf="!createCrowdfundingInputs && currentUser"
              class="category-link method-link"
            >
              <!--img src="assets/img/categories/cat04.jpg" alt="Category"-->
              <span class="row">
                <i class="material-icons card_giftcard adventure-icons"></i>
              </span>
              <span class="row text-center" translate>
                  <strong>+</strong>
                  {{'adventure.create' | translate}}
              </span>
            </a><!-- .category-link -->
            <hr>
            <!-- /REWARDS /CROWDFUNDING -->