.adv-user-main-buttons {
  float: right;
}

.private-check {
  padding-left: 12px;
  width: 12px;
}

.adventure-icons {
  font-size: 34pt;
  cursor: pointer;
}

.chart-edit-icons {
  font-size: 24pt;
  cursor: pointer;
}

.editable {
  display: block;
  font-size: 24pt;
}

.adventure-edit-icons {
  font-size: 18pt;
}

.red-button {
  background-color: rgba(245, 18, 48, 0.7);
}

.red-icon {
  color: rgba(245, 18, 48, 0.7);
}

.adventure-quantity {
  margin: 0 auto;
}

.center-block {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.participations-input {
  margin: 0 auto;
  margin-bottom: 12px;
}

.bkg-white {
  background-color: rgba(255,255,255,0.3);
  -webkit-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.12);
  -moz-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.12);
  box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.12);
}

.add-pie-row {
  color: #77cde3;
}

.method-icons {
    font-size: 3em;
    cursor: pointer;
}

.method-link:hover {
    color: rgba(245, 18, 48, 0.7);
    cursor: pointer;
    //color: rgba(68, 113, 145, 0.68);
    //color: rgba(112, 174, 96, 0.7);
}

.progress-bar-funded {
  background-color: #77e3ac;
}

.loader-center {
  margin: 0 auto;
  width: 100%;
  height: 300px;
}

.success-icon {
  font-size: 128pt;
  color: #77e398;
}

.profile-image {
  width: 100px;
  height: 100px;
  margin: 0 auto;
}

.doc-links {
  text-decoration: none;
}

.profile-head-icons {
  background-color: transparent;
}

.profile-create-btn {
  background-color: rgba(245, 18, 48, 0.7);
}

.new-icons {
  font-size: 9em;
  cursor: pointer;
}

.new-link:hover {
  color: rgba(245, 18, 48, 0.7);
}