<!-- META -->
<!-- STARS -->
<div class="product-meta">
    <span class="product-rating text-warning">
        <i
            class="material-icons star"
            *ngIf="adventureReviewsResult >= 1"
        >
        </i>
        <i
            class="material-icons star"
            *ngIf="adventureReviewsResult >= 2"
        >
        </i>
        <i
            class="material-icons star"
            *ngIf="adventureReviewsResult >= 3"
        >
        </i>
        <i
            class="material-icons star"
            *ngIf="adventureReviewsResult >= 4"
        >
        </i>
        <i
            class="material-icons star"
            *ngIf="adventureReviewsResult >= 5"
        >
        </i>
    </span>
</div>
<!-- /STARS -->
<div class="product-meta">
    <div class="product-category row">
        <!-- CATEGORY -->
        <strong>
            {{ 'adventure.category' | translate }}: 
        </strong>
        <a href="#">{{ adventureCategory }}</a>
    </div>
    <div class="product-category row">
        <!-- LOCATION -->
        <i class="material-icons location_on"></i>
        <span class="text-sm text-gray">
            {{ adventureLocation }}
        </span>
    </div>
</div>
<!-- /META -->