
.page-preloader {
  position: fixed;
  z-index: 9999;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #ffffff;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.page-preloading .page-wrapper {
  opacity: 0;
  -webkit-transition: all 0.5s 0.3s;
  -o-transition: all 0.5s 0.3s;
  transition: all 0.5s 0.3s;
}

.page-preloading .page-preloader {
  visibility: visible;
  opacity: 1;
}

.page-preloading.loading-done .page-wrapper {
  opacity: 1;
}

.page-preloading.loading-done .page-preloader {
  visibility: hidden;
  opacity: 0;
}

.page-preloading.loading-done.link-clicked .page-wrapper {
  opacity: 0;
}

.preloader {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60px;
  margin-top: -30px;
  margin-left: -30px;
}


.single-post-wrap .preloader {
  opacity: 0;
  -webkit-transform: translate3d(0, 30px, 0);
  -moz-transform: translate3d(0, 30px, 0);
  -ms-transform: translate3d(0, 30px, 0);
  -o-transform: translate3d(0, 30px, 0);
  transform: translate3d(0, 30px, 0);
  -webkit-transition: all 0.4s 0.25s;
  -o-transition: all 0.4s 0.25s;
  transition: all 0.4s 0.25s;
}

.single-post-wrap .preloader.active {
  opacity: 1;
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.mfp-close, .mfp-arrow, .mfp-preloader, .mfp-counter {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.mfp-loading.mfp-figure {
  display: none;
}


.mfp-preloader a {
  color: #ccc;
}

.mfp-preloader a:hover {
  color: #ccc;
}

.mfp-s-ready .mfp-preloader {
  display: none;
}

.mfp-preloader {
  color: #ccc;
  position: absolute;
  top: 50%;
  width: auto;
  text-align: center;
  margin-top: -0.8em;
  left: 8px;
  right: 8px;
  z-index: 1044;
}


.owl-carousel.owl-loaded {
  display: block;
}

.owl-carousel.owl-loading {
  opacity: 0;
  display: block;
}
