<!-- HEADER -->
<span class="shop-label text-gray text-right scope-label">
    <!--text-danger for public-->
    <span
      class="text-success to-click"
      (mouseenter)="displayLabel=true"
      (mouseleave)="displayLabel=false"
      routerLink="/price"
    >
      <i class="material-icons public"></i>
      <span
        class="text-sm text-gray"
        *ngIf="displayLabel"
      >
        PUBLIC
      </span>
    </span>
    <span
      class="text-danger"
      *ngIf="capital >= goal && false"
    >
      Funded!
    </span>
</span>
<!-- /HEADER -->
