<!-- PIE CHART VIEW -->
<div
class="col-xs-12"
*ngIf="sharedService.isLoading && !showChartView"
>
<img
  src="assets/img/preloader.gif"
  class="to-center"
  alt="Invow is loading"
>
</div>
<div
class="col-xs-12"
*ngIf="!sharedService.isLoading && adventureCharts"
>
<ng-container
  *ngFor="let chart of adventureCharts; let i = index;"
>
  <div
    class="col-xs-12"
    *ngIf="!showChartInputs && showChartView"
  >
    <hr>
    <a
      *ngIf="currentUser"
      (click)="removeMethod('chart', chart)"
      class="to-right"
    >
      <i class="material-icons close chart-edit-icons red-icon"></i>
    </a>
    <a
      *ngIf="currentUser"
      (click)="edit('chart', chart)"
      class="to-right"
    >
      <i class="material-icons edit chart-edit-icons"></i>
    </a>
  </div>
  <div
    class="col-lg-12 col-md-12 col-sm-12 col-xs-12"
    *ngIf="!showChartInputs && showChartView"
  >
    <h4 class="text-center">
      {{ chart.title }}
    </h4>
    <p class="text-sm text-gray text-center">
      {{ chart.description }}
    </p>
    <!-- Pie CHART VIEW -->
    <div class="row">
      <canvas
        *ngIf="showChartView"
        baseChart
        [data]="allData[i]"
        [labels]="labels[i]"
        [options]="pieChartOptions"
        [chartType]="pieChartType"
        (chartHover)="chartHovered($event)"
        (chartClick)="chartClicked($event)"
      >
      </canvas>
    </div>
    <hr>
  </div>
  <!-- /Pie CHART VIEW -->
  <!-- PIE CHART EDIT -->
  <div
    class="col-xs-12"
    *ngIf="currentUser && showChartInputs && currentChart == chart._id"
  >
    <hr>
    <form [formGroup]="chartsForm">
      <h4 class="text-center">
        {{ chart.title }}
      </h4>
      <p class="text-sm text-gray text-center">
        {{ chart.description }}
      </p>
      <!-- Pie CHART -->
      <div class="row">
        <canvas
          *ngIf="showChart"
          baseChart
          [data]="pieChartData"
          [labels]="pieChartLabels"
          [options]="pieChartOptions"
          [chartType]="pieChartType"
          (chartHover)="chartHovered($event)"
          (chartClick)="chartClicked($event)"
        >
        </canvas>
      </div>
      <!-- /Pie CHART -->
      <div class="form-group">
        <div class="row">
          <div class="col-xs-12">
            <label translate>
              adventure.chart.title
              <input
                type="text"
                (input)="showChartPreview()"
                placeholder="{{'adventure.chart.title.placeholder' | translate}}"
                formControlName="title"
                class="form-control"
              >
            </label>
          </div>
          <div class="col-xs-12">
            <label translate>
              adventure.chart.description
              <textarea
                rows="2"
                type="text"
                (input)="showChartPreview()"
                placeholder="{{'adventure.chart.description.placeholder' | translate}}"
                formControlName="description"
                class="form-control"
              >
              </textarea>
            </label>
          </div>
        </div>
        <div
          class="row"
          formArrayName="charts"
          *ngFor="let singleChart of charts.controls; let j = index;"
        >
          <div [formGroupName]="j">
            <div class="col-xs-3">
              <label translate>
                adventure.chart.amount
                <input
                  type="number"
                  placeholder="{{'adventure.chart.amount.placeholder' | translate}}"
                  formControlName="amount"
                  (input)="showChartPreview()"
                  class="form-control"
                >
              </label>
            </div>
            <div class="col-xs-9">
              <label translate>
                adventure.chart.destined
                <input
                  type="text"
                  placeholder="{{'adventure.chart.destined.placeholder' | translate}}"
                  formControlName="destiny"
                  (input)="showChartPreview()"
                  class="form-control"
                >
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-6">
        <div class="form-group">
          <h1 class="text-center">
            <a (click)="addChart()">
              <i class="material-icons add_circle add-chart"></i>
            </a>
          </h1>
        </div>
      </div>
      <div class="col-xs-6">
        <div class="form-group">
          <h1 class="text-center">
            <a (click)="deleteChart()">
              <i class="material-icons remove_circle red-icon"></i>
            </a>
          </h1>
        </div>
      </div>
      <div class="col-xs-12">
        <hr>
      </div>
      <div class="col-xs-12">
        <button
          (click)="cancel('chart')"
          class="btn btn-default form-control"
          translate
        >
          adventure.chart.cancel.button
        </button>
      </div>
      <div class="col-xs-6">
        <button
          *ngIf="!showChart && !allCharts.invalid"
          (click)="refreshChart()"
          class="btn btn-default form-control"
          translate
        >
          adventure.chart.preview.button
        </button>
      </div>
      <div
        [ngClass]="!showChart && !allCharts.invalid ? 'col-xs-6' : 'col-xs-12'"
      >
        <button
          class="btn btn-primary form-control"
          (click)="save('chart', chart, i)"
          [disabled]="chartsForm.invalid" translate
        >
          adventure.chart.savechart.button
        </button>
      </div>
      <div class="col-xs-12">
        <hr>
      </div>
    </form>
  </div>
  <!-- /PIE CHART EDIT -->
</ng-container>
</div>
<!-- /PIE CHART  VIEW-->
<!-- PIE CHART PREVIEW -->
<div
  class="col-xs-12"
  *ngIf="!showChartInputs && currentUser"
>
  <hr>
  <form [formGroup]="chartsForm">
    <h4 class="text-center">
      {{ chartTitle }}
    </h4>
    <p class="text-sm text-gray text-center">
      {{ chartDescription }}
    </p>
    <!-- Pie CHART -->
    <div class="pie-chart">
      <canvas
        *ngIf="showChart"
        baseChart
        [data]="pieChartData"
        [labels]="pieChartLabels"
        [options]="pieChartOptions"
        [chartType]="pieChartType"
        (chartHover)="chartHovered($event)"
        (chartClick)="chartClicked($event)"
      >
      </canvas>
    </div>
    <!-- /Pie CHART -->
    <div class="form-group">
      <div class="row">
        <div class="col-xs-12">
          <label translate>
            adventure.chart.title
            <input
              type="text"
              (input)="showChartPreview()"
              placeholder="{{'adventure.chart.title.placeholder' | translate}}"
              formControlName="title"
              class="form-control"
            >
          </label>
        </div>
        <div class="col-xs-12">
          <label translate>
            adventure.chart.description
            <textarea
              rows="2"
              type="text"
              (input)="showChartPreview()"
              placeholder="{{'adventure.chart.description.placeholder' | translate}}"
              formControlName="description"
              class="form-control"
            >
            </textarea>
          </label>
        </div>
      </div>
      <div
        class="row"
        formArrayName="charts"
        *ngFor="let chart of charts.controls; let i = index;"
      >
        <div [formGroupName]="i">
          <div class="col-xs-3">
            <label translate>
              adventure.chart.amount
              <input
                type="number"
                placeholder="{{'adventure.chart.amount.placeholder' | translate}}"
                formControlName="amount"
                (input)="showChartPreview()"
                class="form-control"
              >
            </label>
          </div>
          <div class="col-xs-9">
            <label translate>
              adventure.chart.destined
              <input
                type="text"
                placeholder="{{'adventure.chart.destined.placeholder' | translate}}"
                formControlName="destiny"
                (input)="showChartPreview()"
                class="form-control"
              >
            </label>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-6">
      <div class="form-group">
        <h1 class="text-center">
          <a (click)="addChart()">
            <i class="material-icons add_circle add-chart"></i>
          </a>
        </h1>
      </div>
    </div>
    <div class="col-xs-6">
      <div class="form-group">
        <h1 class="text-center">
          <a (click)="deleteChart()">
            <i class="material-icons remove_circle red-icon"></i>
          </a>
        </h1>
      </div>
    </div>
    <div class="col-xs-12">
      <hr>
    </div>
    <div class="col-xs-6">
      <button
        *ngIf="!showChart && !allCharts.invalid"
        (click)="refreshChart()"
        class="btn btn-default form-control"
        translate
      >
        adventure.chart.preview.button
      </button>
    </div>
    <div
      [ngClass]="!showChart && !allCharts.invalid ? 'col-xs-6' : 'col-xs-12'"
    >
      <button
        class="btn btn-primary form-control"
        (click)="save('chart')"
        [disabled]="allCharts.invalid"
        translate
      >
        adventure.chart.savechart.button
      </button>
    </div>
    <div class="col-xs-12">
      <hr>
    </div>
  </form>
</div>
<!-- /PIE CHART -->