<!-- STEP THREE -->
<div class="col-sm-12">
    <h1 translate>
      create.payments.title
    </h1>
    <p translate>
      create.payments.text
    </p>

    <form [formGroup]="stepThree">
            <!-- FUNDS RECIPIENT -->
            <div class="row">
                <div class="col-sm-6">
                    <div
                        class="form-group"
                        [ngClass]="fullName.invalid && (fullName.dirty || fullName.touched) ? 'light-red' : 'light-blue'">
                        <div class="form-group">
                            <label for="example-text-input" class="col-3 col-form-label">
                                <h3 translate>
                                    create.payments.fullname
                                </h3>
                            </label>
                            <input
                                type="text"
                                class="form-control"
                                placeholder="{{'create.payments.fullname.placeholder' | translate}}"
                                formControlName="fullName" />
                            <div *ngIf="fullName.invalid && (fullName.dirty || fullName.touched)"
                                 class="alert text-danger">

                              <div *ngIf="fullName.errors.required"translate>
                                create.payments.fullname.validation
                              </div>
                              <div *ngIf="fullName.errors.minlength"translate>
                                create.payments.fullname.validation.minlegth
                              </div>
                              <div *ngIf="fullName.errors.maxlength"translate>
                                create.payments.fullname.validation.minlegth
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- BIRTHDAY -->
                <div class="col-sm-6">
                    <div
                        class="form-group"
                        [ngClass]="birthday.invalid && (birthday.dirty || birthday.touched) ? 'light-red' : 'light-blue'">
                        <div class="form-group">
                            <label for="example-text-input" class="col-3 col-form-label">
                                <h3 translate>
                                  create.payments.birthday
                                </h3>
                            </label>
                            <input
                                type="text"
                                class="form-control"
                                formControlName="birthday"
                                placeholder="{{'create.payments.birthday.placeholder' | translate}}" />
                            <div *ngIf="birthday.invalid && (birthday.dirty || birthday.touched)"
                                 class="alert text-danger">

                              <div *ngIf="birthday.errors.required"translate>
                                create.payments.birthday.validation
                              </div>
                              <div *ngIf="birthday.errors.minlength"translate>
                                create.payments.birthday.validation.error
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <div class="row">
            <!-- CONTACT EMAIL -->
            <div class="col-xs-6">
                <div class="form-group"
                    [ngClass]="email.invalid && (email.dirty || email.touched) ? 'light-red' : 'light-blue'">
                    <div class="form-group">
                        <label for="example-text-input" class="col-3 col-form-label">
                            <h3 translate>
                                create.payments.contactemail
                            </h3>
                        </label>
                        <div class="col-9">
                            <input
                                class="form-control"
                                type="email"
                                formControlName="email"
                                placeholder="{{'create.payments.contactemail.placeholder' | translate}}"
                                id="example-search-input" />
                            <div *ngIf="email.invalid && (email.dirty || email.touched)"
                                 class="alert text-danger">

                              <div *ngIf="email.errors.required"translate>
                                create.payments.contactemail.validation
                              </div>
                              <div *ngIf="email.errors.email && !email.errors.required"translate>
                                create.payments.contactemail.validation.error
                              </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="form-group"
                    [ngClass]="phone.invalid && (phone.dirty || phone.touched) ? 'light-red' : 'light-blue'">
                    <!-- CONTACT PHONE -->
                    <div class="form-group">
                        <label for="example-text-input" class="col-3 col-form-label">
                            <h3 translate>
                                create.payments.contactphone
                            </h3>
                        </label>
                        <div class="col-9">
                            <input
                                class="form-control"
                                placeholder="{{'create.payments.contactphone.placeholder' | translate}}"
                                type="number"
                                formControlName="phone"
                                id="example-search-input" />
                            <div *ngIf="phone.invalid && (phone.dirty || phone.touched)"
                                 class="alert text-danger">

                              <div *ngIf="phone.errors.required"translate>
                                create.payments.contactphone.validation
                              </div>
                              <div *ngIf="phone.errors.minlength"translate>
                                create.payments.contactphone.validation.minlength
                              </div>
                              <div *ngIf="phone.errors.maxlength"translate>
                                create.payments.contactphone.validation.maxlength
                              </div>
                              <div *ngIf="phone.errors.pattern"translate>
                                create.payments.contactphone.validation.pattern
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <!--ADDRESS-->
            <div class="col-xs-6">
                <div class="form-group"
                    [ngClass]="(address.invalid || city.invalid || zip.invalid) && (address.dirty || address.touched) ? 'light-red' : 'light-blue'">
                    <div class="form-group">
                        <div class="mt-3">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-block p-3">
                                        <div>
                                            <label for="example-text-input" class="col-3 col-form-label">
                                                <h3 translate>
                                                    create.payments.location
                                                </h3>
                                            </label>
                                            <div class="col-8">
                                                <input
                                                    type="text"
                                                    class="form-control"
                                                    formControlName="address"
                                                    placeholder="{{'create.payments.location.placeholder' | translate}}" />
                                                <div *ngIf="address.invalid && (address.dirty || address.touched)"
                                                     class="alert text-danger">

                                                  <div *ngIf="address.errors.required"translate>
                                                    create.payments.location.validation
                                                  </div>
                                                  <div *ngIf="address.errors.minlength"translate>
                                                    create.payments.location.validation.minlength
                                                  </div>
                                                  <div *ngIf="address.errors.maxlength"translate>
                                                    create.payments.location.validation.maxlength
                                                  </div>

                                                </div>
                                                <input
                                                    type="text"
                                                    class="form-control"
                                                    formControlName="city"
                                                    placeholder="{{'create.payments.location.city.placeholder' | translate}}" />
                                                <div *ngIf="city.invalid && (city.dirty || city.touched)"
                                                     class="alert text-danger">

                                                  <div *ngIf="city.errors.required"translate>
                                                    create.payments.location.city.validation
                                                  </div>
                                                  <div *ngIf="city.errors.minlength"translate>
                                                    create.payments.location.city.validation.minlenght
                                                  </div>
                                                  <div *ngIf="city.errors.maxlength"translate>
                                                    create.payments.location.city.validation.maxlenght
                                                  </div>


                                                </div>
                                                <input
                                                    type="text"
                                                    class="form-control"
                                                    formControlName="country"
                                                    placeholder="{{'create.payments.location.country.placeholder' | translate}}" />
                                                <div *ngIf="country.invalid && (country.dirty || country.touched)"
                                                     class="alert text-danger">

                                                  <div *ngIf="country.errors.required" translate>
                                                    create.payments.location.country.validation
                                                  </div>
                                                  <div *ngIf="country.errors.minlength" translate>
                                                    create.payments.location.country.validation.minlenght
                                                  </div>
                                                  <div *ngIf="country.errors.maxlength" translate>
                                                    create.payments.location.country.validation.maxlenght
                                                  </div>
                                                </div>
                                                <input
                                                    type="number"
                                                    class="form-control"
                                                    formControlName="zip"
                                                    placeholder="{{'create.payments.location.postcode.placeholder'| translate}}" />
                                                <div *ngIf="zip.invalid && (zip.dirty || zip.touched)"
                                                     class="alert text-danger">

                                                  <div *ngIf="zip.errors.required" translate>
                                                    create.payments.location.postcode.validation
                                                  </div>
                                                  <div *ngIf="zip.errors.pattern" translate>
                                                    create.payments.location.postcode.validation.pattern
                                                  </div>
                                                  <div *ngIf="zip.errors.minlength && !zip.errors.pattern" translate>
                                                      create.payments.postcode.validation.minlenght
                                                  </div>
                                                  <div *ngIf="zip.errors.maxlength" translate>
                                                      create.payments.postcode.validation.maxlenght
                                                  </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ID NUMBER -->
            <div class="col-sm-6">
                <div class="form-group"
                    [ngClass]="(identification.invalid && (identification.dirty || identification.touched)) || (imgIdFrontRequired && !imgIdFrontUploaded) || (imgIdBackRequired && !imgIdBackUploaded) ? 'light-red' : 'light-blue'">
                    <label for="example-text-input" class="col-3 col-form-label">
                        <h3 translate>
                            create.payments.identification
                        </h3>
                    </label>
                    <div class="form-group">
                      <input
                          type="number"
                          placeholder="{{'create.payments.identification.placeholder' | translate}}"
                          formControlName="identification"
                          class="form-control" />
                    </div>
                </div>
            </div>
            <!-- CUIT -->
            <div class="col-sm-6">
                <div class="form-group"
                    [ngClass]="(identification.invalid && (identification.dirty || identification.touched)) || (imgIdFrontRequired && !imgIdFrontUploaded) || (imgIdBackRequired && !imgIdBackUploaded) ? 'light-red' : 'light-blue'">
                    <label for="example-text-input" class="col-3 col-form-label">
                        <h3 translate>
                            create.payments.cuit
                        </h3>
                    </label>
                    <div class="form-group">
                      <input
                          type="number"
                          placeholder="{{'create.payments.identification.placeholder' | translate}}"
                          formControlName="identification"
                          class="form-control" />
                    </div>
                </div>
            </div>
            <!-- PROJECT IMAGE ID -->
            <!--div class="col-sm-6">
                <div class="form-group"
                    [ngClass]="(identification.invalid && (identification.dirty || identification.touched)) || (imgIdFrontRequired && !imgIdFrontUploaded) || (imgIdBackRequired && !imgIdBackUploaded) ? 'light-red' : 'light-blue'">
                    <label for="example-text-input" class="col-3 col-form-label">
                        <h3 translate>
                            create.payments.identification
                        </h3>
                    </label>
                    <div class="form-group">
                        <input
                            type="number"
                            placeholder="{{'create.payments.identification.placeholder' | translate}}"
                            formControlName="identification"
                            class="form-control" />
                            <div *ngIf="identification.invalid && (identification.dirty || identification.touched)"
                                 class="alert text-danger">
                                <div *ngIf="identification.errors.required" translate>
                                  create.payments.identification.validation
                                </div>
                                <div *ngIf="identification.errors.pattern" translate>
                                  create.payments.identification.validation.pattern
                                </div>
                                <div *ngIf="identification.errors.minlength && !identification.errors.pattern" translate>
                                    create.payments.identification.validation.minlenght
                                </div>
                                <div *ngIf="identification.errors.maxlength" translate>
                                    create.payments.identification.validation.maxlenght
                                </div>

                            </div>
                    </div>
                    <p class="form-text text-muted" *ngIf="!imgIdFrontUploaded || !imgIdBackUploaded" translate>
                        create.payments.identification.text
                    </p>
                    <span
                        class="btn btn-file form-control"
                        [ngClass]="imgIdFrontUploaded ? 'btn-success' : 'btn-info'"
                        *ngIf="imgIdFrontState !== uploadingState">
                        <i class="material-icons cloud_upload" *ngIf="!imgIdFrontUploaded"></i>
                        {{ imgIdFrontState | translate }}
                        <i class="material-icons cloud_done" *ngIf="imgIdFrontUploaded"></i>
                        <label>
                            <input
                                type="file"
                                id="projectImage"
                                name="idFront"
                                (change)="onFileIdFrontImgChange($event)" />
                            <input
                                type="hidden"
                                name="imgHidden"
                                formControlName="idFront" />
                        </label>
                    </span>
                    <span class="btn btn-file form-control btn-disabled" *ngIf="imgIdFrontState === uploadingState">
                        {{ imgIdFrontState }}
                    </span>
                    <div *ngIf="idFront.invalid && (idFront.dirty || idFront.touched)"
                         class="alert text-danger">

                      <div *ngIf="idFront.errors.required" translate>
                        create.payments.identification.required.front
                      </div>
                    </div>
                    <span
                        class="btn btn-file form-control"
                        [ngClass]="imgIdBackUploaded ? 'btn-success' : 'btn-info'"
                        *ngIf="imgIdBackState != uploadingState">
                        <i class="material-icons cloud_upload" *ngIf="!imgIdBackUploaded"></i>
                        {{ imgIdBackState | translate }}
                        <i class="material-icons cloud_done" *ngIf="imgIdBackUploaded"></i>
                        <label>
                            <input
                                type="file"
                                id="projectImage"
                                name="idBack"
                                (change)="onFileIdBackImgChange($event)" />
                            <input
                                type="hidden"
                                name="imgHidden"
                                formControlName="idBack" />
                        </label>
                    </span>
                    <span class="btn btn-file form-control btn-disabled" *ngIf="imgIdBackState === uploadingState">
                        {{ imgIdBackState | translate }}
                    </span>
                    <div *ngIf="idBack.invalid && (idBack.dirty || idBack.touched)"
                         class="alert text-danger">

                      <div *ngIf="idBack.errors.required" translate>
                        create.payments.identification.required.back
                      </div>
                    </div>
                    <div
                        *ngIf="imgIdFrontRequired || imgIdFrontRequired"
                        class="alert text-danger">
                        <div *ngIf="!imgSize || !imgExtension" translate>
                          create.payments.identification.required.size
                        </div>
                    </div>
                    <div class="form-text text-muted" *ngIf="false">
                        <p>This is the main image associated with your project. Make it count!</p>
                        <p>At least <strong>1024x576 pixels</strong> • 16:9 aspect ratio
                        JPEG, PNG, GIF, or BMP • 50MB file limit</p>
                    </div>
                </div>
            </div-->
        </div>
        <div class="row">
          <!--BANK ACCOUNT-->
          <div class="col-xs-6">
            <div class="form-group light-blue">
                <div class="form-group">
                    <label for="example-text-input" class="col-3 col-form-label">
                      <h3 translate>
                        create.payments.bankaccount
                      </h3>
                    </label>
                    <div class="col-9">
                      <ng-container *ngIf="!bankAccountInputs">
                          <div class="form-group">
                            <select class="form-control">
                              <option
                              value="1"
                              *ngFor="let bank of banksList; let i = index;">
                                {{ bank.ownerName }} - {{ bank.accountNumber }}
                              </option>
                            </select>
                          </div>
                        </ng-container>
                        <div formArrayName="bankAccounts">
                          <ng-container *ngIf="bankAccountInputs">
                              <div
                                  [formGroupName]="i"
                                  *ngFor="let bankAccount of bankAccounts.controls; let i = index;">
                                  <div class="form-group">
                                      <input
                                          type="text"
                                          class="form-control"
                                          formControlName="ownerName"
                                          placeholder="{{ 'create.payments.bankaccount.addnewaccounts.ownername.placeholder' | translate }}" />
                                      <div *ngIf="bankAccount.controls.ownerName.invalid && (bankAccount.controls.ownerName.dirty || bankAccount.controls.ownerName.touched)"
                                           class="alert text-danger">
                                        <div *ngIf="bankAccount.controls.ownerName.errors.required" translate>
                                          create.payments.bankaccount.addnewaccounts.ownername.validation
                                        </div>
                                        <div *ngIf="bankAccount.controls.ownerName.errors.minlength" translate>
                                          create.payments.bankaccount.addnewaccounts.ownername.validation.min
                                        </div>
                                        <div *ngIf="bankAccount.controls.ownerName.errors.maxlength" translate>
                                          create.payments.bankaccount.addnewaccounts.ownername.validation.max
                                        </div>
                                      </div>
                                  </div>
                                  <div class="form-group">
                                      <input
                                          type="number"
                                          class="form-control"
                                          formControlName="ownerId"
                                          placeholder="{{'create.payments.bankaccount.addnewaccounts.owneridnumber.placeholder' | translate}}" />
                                      <div *ngIf="bankAccount.controls.ownerId.invalid && (bankAccount.controls.ownerId.dirty || bankAccount.controls.ownerId.touched)"
                                           class="alert text-danger">

                                        <div *ngIf="bankAccount.controls.ownerId.errors.required" translate>
                                          create.payments.bankaccount.addnewaccounts.owneridnumber.validation
                                        </div>
                                        <div *ngIf="bankAccount.controls.ownerId.errors.minlength && !bankAccount.controls.ownerId.pattern" translate>
                                          create.payments.bankaccount.addnewaccounts.owneridnumber.validation.min
                                        </div>
                                        <div *ngIf="bankAccount.controls.ownerId.errors.maxlength && !bankAccount.controls.ownerId.pattern" translate>
                                          create.payments.bankaccount.addnewaccounts.owneridnumber.validation.max
                                        </div>
                                        <div *ngIf="bankAccount.controls.ownerId.errors.pattern && !bankAccount.controls.ownerId.required" translate>
                                          create.payments.bankaccount.addnewaccounts.owneridnumber.validation.pattern
                                        </div>

                                      </div>
                                  </div>
                                  <div class="form-group">
                                      <input
                                          type="number"
                                          class="form-control"
                                          formControlName="accountNumber"
                                          placeholder="{{'create.payments.bankaccount.addnewaccounts.accountnumber.placeholder' | translate}}" />
                                      <div *ngIf="bankAccount.controls.accountNumber.invalid && (bankAccount.controls.accountNumber.dirty || bankAccount.controls.accountNumber.touched)"
                                           class="alert text-danger">
                                        <div *ngIf="bankAccount.controls.accountNumber.errors.required" translate>
                                          create.payments.bankaccount.addnewaccounts.accountnumber.validation
                                        </div>
                                        <div *ngIf="bankAccount.controls.accountNumber.errors.minlength" translate>
                                          create.payments.bankaccount.addnewaccounts.accountnumber.validation.min
                                        </div>
                                        <div *ngIf="bankAccount.controls.accountNumber.errors.pattern" translate>
                                          create.payments.bankaccount.addnewaccounts.accountnumber.validation.pattern
                                        </div>
                                      </div>
                                  </div>
                              </div>
                          </ng-container>
                        </div>
                    </div>
                </div>
                <button
                  *ngIf="!bankAccountInputs"
                  (click)="newBankAccount()"
                  class="btn btn-default form-control"
                  translate>
                  create.payments.bankaccount.addnewaccount
                </button>
                <button
                  *ngIf="bankAccountInputs"
                  (click)="showAllAccounts()"
                  class="btn btn-default form-control"
                  translate>
                  create.payments.bankaccount.showallaccounts
                </button>
                <button
                    *ngIf="bankAccountInputs"
                    (click)="sendBank()"
                    [disabled]="stepThree.controls.bankAccounts.invalid"
                    class="btn btn-primary form-control">
                    save
                </button>
            </div>
          </div>
          <div class="col-xs-6">
            <!--PAYMENT SOURCE-->
            <div class="form-group light-blue">
                <div class="form-group">
                    <label for="example-text-input" class="col-3 col-form-label">
                        <h3 translate>
                            create.payments.paymentssource
                        </h3>
                    </label>
                    <div class="col-9">
                        <div
                            formArrayName="paymentSources">
                            <ng-container *ngIf="paymentSourceInputs">
                                <div
                                    [formGroupName]="i"
                                    *ngFor="let payment of paymentSources.controls; let i = index;">
                                    <div class="form-group">
                                        <input
                                            type="text"
                                            class="form-control"
                                            formControlName="accountEmail"
                                            placeholder="{{ ppOrMp }}" />
                                        <div *ngIf="payment.controls.accountEmail.invalid && (payment.controls.accountEmail.dirty || payment.controls.accountEmail.touched)"
                                             class="alert text-danger">

                                          <div *ngIf="payment.controls.accountEmail.errors.required" translate>
                                            create.payments.paymentssource.addnewpaymentssources.accountemail.validation.required
                                          </div>
                                          <div *ngIf="payment.controls.accountEmail.errors.email && !payment.controls.accountEmail.errors.required" translate>
                                            create.payments.paymentssource.addnewpaymentssources.accountemail.validation
                                          </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <select
                                            class="form-control custom-select"
                                            name="accountType"
                                            formControlName="accountType"
                                            id="selectCategory"
                                            (click)="typeSelect($event)"
                                            required>
                                            <option value="paypal">Paypal</option>
                                            <option value="mercadopago">MercadoPago</option>
                                        </select>
                                        <div *ngIf="payment.controls.accountType.invalid && (payment.controls.accountType.dirty || payment.controls.accountType.touched)"
                                             class="alert text-danger">
                                          <div *ngIf="payment.controls.accountType.errors.required" translate>
                                            create.payments.paymentssource.addnewpaymentssources.table.type.validation
                                          </div>
                                        </div>
                                    </div>
                                </div>
                            </ng-container>
                            <ng-container *ngIf="!paymentSourceInputs">
                              <div class="form-group">
                                  <select
                                      class="form-control custom-select"
                                      name="accountType"
                                      required>
                                      <option
                                        *ngFor="let source of paymentSourcesList; let i = index;"
                                        [value]="source.accountEmail">
                                        {{ source.accountEmail }} - {{ source.type }}
                                      </option>
                                  </select>
                              </div>
                            </ng-container>
                        </div>
                    </div>
                </div>
                <button
                  *ngIf="!paymentSourceInputs"
                  (click)="newPaymentSource()"
                  class="btn btn-default"
                  translate>
                    create.payments.paymentssource.addnewpaymentssource
                </button>
                <button
                  *ngIf="paymentSourceInputs"
                  (click)="showAllPaymentSources()"
                  class="btn btn-default"
                  translate>
                    create.payments.paymentssource.showallpaymentssources
                </button>
                <button
                    *ngIf="paymentSourceInputs"
                    (click)="sendSource()"
                    [disabled]="stepThree.controls.paymentSources.invalid"
                    class="btn btn-primary form-control" translate>
                    create.payments.paymentssource.addnewpaymentssources.save
                </button>
            </div>
          </div>
        </div>
    </form>
    <nav
        class="navbar fixed-bottom navbar-light bg-faded"
        style="background: #fff; border-top: 1px solid #eee">
        <div style="float: right;">
            <button (click)="stepThree.reset()" class="btn btn-link btn-lg float-right" translate>
                create.payments.cleanstep.button
            </button>
            <button
                (click)="sendStepThree()"
                [disabled]="stepThree.invalid"
                class="btn btn-primary btn-lg float-right">
                {{ 'Done!' | translate }}
            </button>
        </div>
    </nav>
</div>
<!-- /STEP THREE -->
