.logo {
  width: 100px;
}

q {
  font-style: italic;
  font-size: 1.2rem;
  quotes: "« " " »";
}

.background {
    width: 100%;
    height: 100%;
    position: relative;
}

.layer {
    background-color: rgba(248, 247, 216, 0.25);
    //background-color: rgba(255, 255, 255, 0.92);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.category-icons {
    font-size: 12em;
}

iframe#bgvid {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    //background: url(polina.jpg) no-repeat;
    background-size: cover;
}


.bkg-white {
  background-color: rgba(255,255,255,0.9);
  -webkit-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.12);
  -moz-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.12);
  box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.12);
}

.bkg-white-transparent {
  background-color: rgba(255,255,255,0.8);
}

.success-icon {
  font-size: 128pt;
  color: #77e398;
}

.profile-image {
  width: 100px;
  height: 90px;
  margin: 0 auto;
}
