<!-- DONATIONS -->
<div class="col-xs-12 padding-top-1x padding-bottom-2x">
  <span class="row">
    <h3>
      Contribuir sin recompensa
    </h3>
    <p class="text-sm text-gray">
      Apoya el proyecto sin recompensa.
    </p>
    <span class="col-xs-9">
      <input type="number" [(ngModel)]="amount" class="form-control" placeholder="Monto">
    </span>
    <span class="col-xs-3">
      <button
        class="btn btn-primary to-click adv-btn"
        style="margin-top: 0; margin-left: 0"
        (click)="checkout()"
        translate
      >
        <p translate>
          CONTINUAR
        </p>
      </button><!-- invest -->
    </span>
  </span>
</div>
<!-- /DONATIONS -->