<!-- Content -->
<section class="container padding-top-1x">
  <h1>Preguntas Frecuentes</h1>
  <div class="row padding-top">
    <div class="col-sm-6">
      <div class="panel-group">
        <div class="panel">
          <div class="panel-heading">
            <a class="panel-title" data-toggle="collapse" href="#panel1">
              ¿Qué es Invow?
            </a>
          </div>
          <div id="panel1" class="panel-collapse collapse in">
            <div class="panel-body text-gray">
              Invow es una plataforma online cuyo objetivo principal es facilitar el vínculo entre gente que quiere emprender y gente que quiere invertir.
              En Invow el emprendedor puede crear su proyecto para conseguir el financiamiento necesario a través de Recompensas (Dinero a cambio de un premio o recompensa), Créditos (el emprendedor propone créditos del monto que desee y  un retorno en determinada cantidad de tiempo) o través de Participaciones (El emprendedor otorga un porcentaje de la empresa a cambio de financiamiento). Y el inversor puede ser cualquier persona que tenga ahorros o un capital y lo quiera hacer crecer mientras que a su vez está financiando una idea o proyecto.
              Además, la plataforma ofrece un servicio que nosotros llamamos                “ Desafío de trabajos” en el cual el usuario puede crear un trabajo de acuerdo a su necesidad (publicación de un trabajo), así como también puede aplicar a la solicitud de un trabajo (freelancer).
              Nos proponemos brindar las herramientas a los usuarios para que puedan complacer sus necesidades generando nosotros el espacio para que puedan vincularse y de esta manera aportar entre todos al crecimiento de la sociedad, el mundo y el medio ambiente.
            </div>
          </div>
        </div><!-- .panel -->
      </div><!-- .panel-group -->
      <div class="panel-group">
        <div class="panel">
          <div class="panel-heading">
            <a class="panel-title" data-toggle="collapse" href="#panel2">
              ¿Qué son los métodos de financiamiento?
            </a>
          </div>
          <div id="panel2" class="panel-collapse collapse in">
            <div class="panel-body text-gray">
              Los métodos de financiamiento son las opciones que tiene para elegir el usuario que quiera emprender un proyecto o el usuario que quiera invertir en uno.
              Hay tres métodos de financiamiento en Invow:
              Por Recompensas: Es el financiamiento que se obtiene a través de recompensas o premios.
              Por Créditos: El usuario emprendedor al momento de crear su proyecto, propone para su financiamiento el monto que quiere obtener y cuál va a ser el porcentaje de retorno y en cuánto tiempo.
              Por Participación: El usuario que emprende al momento de crear su proyecto propone otorgar un porcentaje de su empresa a cambio de un monto definido en calidad de inversión.
            </div>
          </div>
        </div><!-- .panel -->
      </div><!-- .panel-group -->
      <div class="panel-group">
        <div class="panel">
          <div class="panel-heading">
            <a class="panel-title" data-toggle="collapse" href="#panel3">
              ¿Cómo sé que mi idea estará segura?
            </a>
          </div>
          <div id="panel3" class="panel-collapse collapse in">
            <div class="panel-body text-gray">
              Nosotros proponemos la plataforma a la comunidad para que se vinculen de buena fe y honestamente las partes. En caso que prefieras que tu proyecto no sea público podés publicarlo como privado y solo podrán verlo los usuarios que quieras. De cualquier manera podés tomar las acciones que consideres necesarias para proteger tus derechos.
            </div>
          </div>
        </div><!-- .panel -->
      </div><!-- .panel-group -->
    </div><!-- .col-sm-6 -->
    <div class="col-sm-6">
      <div class="panel-group">
        <div class="panel">
          <div class="panel-heading">
            <a class="panel-title" data-toggle="collapse" href="#panel4">
              ¿Qué costos existen para el usuario?
            </a>
          </div>
          <div id="panel4" class="panel-collapse collapse in">
            <div class="panel-body text-gray">
              Crearse una cuenta en Invow y convertirte en usuario no tiene ningún costo.
              Si vas a impulsar un proyecto deberás tener en cuenta que Invow  cobra una comisión del 6 % (seis por ciento) por el financiamiento total del proyecto o por método de financiamiento (dependiendo la elección del usuario) a razón de mantenimiento de la plataforma y calidad al usuario.
              Así mismo los medios de pago oscilan su porcentaje  entre 4 % y 6% aproximadamente según el medio de pago.
            </div>
          </div>
        </div><!-- .panel -->
      </div><!-- .panel-group -->
      <div class="panel-group">
        <div class="panel">
          <div class="panel-heading">
            <a class="panel-title" data-toggle="collapse" href="#panel5">
              Tengo un proyecto ¿cómo lo publico?
            </a>
          </div>
          <div id="panel5" class="panel-collapse collapse in">
            <div class="panel-body text-gray">
              Para publicar un proyecto en invow es necesario crearte una cuenta de usuario.
              Una vez registrado podés impulsar tu idea creando un proyecto. Para ésto clickeá en el ícono de “Impulsar” y seguí los pasos para publicarlo.
            </div>
          </div>
        </div><!-- .panel -->
      </div><!-- .panel-group -->
      <div class="panel-group">
        <div class="panel">
          <div class="panel-heading">
            <a class="panel-title" data-toggle="collapse" href="#panel7">
              ¿Qué son los Desafíos de Trabajo?
            </a>
          </div>
          <div id="panel7" class="panel-collapse collapse in">
            <div class="panel-body text-gray">
              Otro de los servicios que ofrecemos en invow son los Desafíos de Trabajo. Éste servicio está dirigido a todo aquel usuario que necesite que  otra persona realice una tarea en determinado tiempo y monto;como también se dirige a usuarios que busquen trabajos freelance para que puedan encontrarlos en Invow.
              Para esto el usuario puede publicar en Desafíos de Trabajo  una solicitud de empleo o aplicar a los empleos creados.
            </div>
          </div>
        </div><!-- .panel -->
      </div><!-- .panel-group -->
    </div><!-- .col-sm-6 -->
  </div><!-- .row -->
</section><!-- .container -->
